.footer {
  margin-top: auto;
  
  &__head{
    padding: 10px 0 10px 0;
    border-bottom: 1px solid $gray-400;
    border-top: 1px solid $gray-400;
  }
  &__head-row{
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(sm) {
      align-items: flex-end;
    }
    & > *{
      margin-bottom: 24px;
    }
    margin-bottom: -24px;
  }
  &__share {
    font-size: 14px;
    font-weight: 300;
    color: $body-color;
    @include media-breakpoint-down(sm) {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 12px;
    }
    .icon {
      margin-right: 10px;
      font-size: 36px;
      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }
  }
  &__social {
    text-align: right;
    font-weight: 300;
    font-size: 14px;
    @include media-breakpoint-down(sm) {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 12px;
    }
  }
  .soc {
    padding-left: 15px;
    display: inline-flex;
    @include media-breakpoint-down(sm) {
      order: -1;
      padding-left: 0;
    }
  }
  .icon-youtube {
    &:hover {
      fill: $red;
    }
  }
  .icon-vk {
    &:hover {
      fill: $blue;
    }
  }
  &__logo{
    margin-bottom: rem(30);
    display: block;
    width: 165px;
    img{
      width: auto;
      height: auto;
      max-width: 100%;
    }

    @include media-breakpoint-up(xl){
      margin-right: 15px;
    }
  }
  //blue-row
  &__blue-row{
    padding-right: 25px;
    @include roww(24px);

    & > *{
      margin-bottom: 12px;
    }
    margin-bottom: -12px;
  }
  &__g-item{
    display: flex;
    align-items: center;

    color: $white;
    &:hover{
      color: $primary;
    }
  }
  &__g-icon{
    width: 19px;
    height: 19px;
    margin-right: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
    }
  }
  &__g-txt{
    font-size: 12px;
    line-height: 1.4;
  }
  //
  &__body{
    border-bottom: 1px solid $gray-310;

    padding: 33px 0 15px;
    @include media-breakpoint-up(md){
      padding: 36px 0 40px
    }
  }
  &__b-row{
    @include media-breakpoint-up(md){
      margin-bottom: -30px;
    }

    & > *{
      &:last-child{
        .footer__b-item{
          @include media-breakpoint-down(sm) {
            margin-bottom: 0 !important;
          }
        }
        .footer__b-head{
          @include media-breakpoint-down(sm){
            border-bottom: none!important;
            margin-bottom: 0!important;
            padding-bottom: 0!important;
          }
        }
      }
    }
  }
  &__b-item{
    margin-bottom: 12px;
    @include media-breakpoint-up(sm){
      margin-bottom: 30px;
    }
    &--catalog {
      .footer__b-content {
        column-count: 3;
        @include media-breakpoint-down(sm) {
          column-count: 2;
        }
      }
    }
    &.active {
      .footer__b-head::before {
        opacity: 0;
      }
    }
  }
  &__b-head{
    display: flex;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-400;
    @include media-breakpoint-up(sm){
      padding-bottom: 7px;
      display: block;
      pointer-events: none!important;
    }
    
    &:after{
      position: absolute;
      display: block;
      content: '';
      @include media-breakpoint-up(sm){
        content: none;
      }
      margin-left: auto;
      width: 20px;
      height: 2px;
      flex-shrink: 0;
      background-color: $primary;
      right: 3px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before{
      position: absolute;
      display: block;
      content: '';
      @include media-breakpoint-up(sm){
        content: none;
      }
      margin-left: auto;
      width: 2px;
      height: 20px;
      flex-shrink: 0;
      background-color: $primary;
      right: 11px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }
  }
  &__b-content{
    padding-top: 12px;
    font-size: 14px;
    display: none;
    &.active{
      display: block;
    }

    @include media-breakpoint-up(sm){
      display: block!important;
    }
  }
  &__b-link{
    display: block;
    font-size: 14px;
    line-height: 1.4;
    color: $body-color;

    margin-bottom: 12px;
    &:last-child{
      margin-bottom: 0;
    }
    &:hover {
      color: $primary;
    }
  }
  address {
    max-width: 150px;
  }
  &__contacts {
    margin-bottom: 30px;
  }
  &__contacts-item {
    display: block;
    color: $body-color;
    &:hover {
      color: $primary;
    }
  }
  // &__c-head {
  //   font-size: 20px;
  //   margin-bottom: 9px;
  //   display: none;
  //   @include media-breakpoint-up(sm){
  //     display: block;
  //   }
  // }
  // &__c-content {
  //   font-size: 14px;
  //   margin-top: 20px;
  //   @include media-breakpoint-up(sm){
  //     margin-top: 0;
  //   }
  //   .icon {
  //     margin-right: 5px;
  //     font-size: 14px;
  //     fill: #D2D2D2;
  //   }
  // }
  // &__c-link {
  //   display: block;
  //   font-size: 12px;
  //   margin-bottom: 5px;
  // }
  //
  &__bot{
    padding: 13px 0 5px;
    @include media-breakpoint-up(sm){
      padding: 25px 0;
    }
  }
  &__bot-row{
    @include roww(0);
    font-size: 14px;
  }
  &__bot-links{
    @include media-breakpoint-up(md){
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include media-breakpoint-up(lg){
      justify-content: flex-start;
    }

  }
  &__bot-link{
    margin-bottom: 6px;
    @include media-breakpoint-up(md){
      margin-bottom: 0;
    }

    display: flex;
    // font-size: 14px;
    line-height: 1.4;

    color: $body-color;
    &:hover{
      color: $primary;
    }

    &:after{
      flex-shrink: 0;
      @include media-breakpoint-up(md){
        content: '';
      }
      width: 1px;
      background-color: $gray-310;
      margin: 0 12px;
    }

    &:last-child{
      &:after{
        content: none;
      }
    }
  }
  
  &__sm-all-r{
    border-top: 1px solid $gray-310;
    padding: 14px 0;
  }
  &__all-rights{
    font-size: 12px;
    line-height: 1.4;
  }
  &__{}
  &__{}
  &__{}
}

body.prod-card-page{
  footer{
    //--buy-bl-h
    @include media-breakpoint-down(lg){
      padding-bottom: var(--buy-bl-h, 60px);
    }
  }
}