.footer {
  margin-top: auto;
  background-color: #2A2D30;
  color: $white;
  a {
    color: $white;
  }
  &__head{
    padding: 18.5px 0 23.5px 0;
    // background-color: #2A2D30;
    @include media-breakpoint-up(md){
      padding: 15px 0 25px;
    }
    border-bottom: 10px solid #1F839F;
  }
  &__head-row{
    justify-content: space-between;
    & > *{
      margin-bottom: 24px;
    }
    margin-bottom: -24px;
  }
  &__logo{
    display: block;
    width: 153px;
    img{
      width: auto;
      height: auto;
      max-width: 100%;
    }

    @include media-breakpoint-up(xl){
      margin-right: 15px;
    }
  }
  //blue-row
  &__blue-row{
    padding-right: 25px;
    @include roww(24px);

    & > *{
      margin-bottom: 12px;
    }
    margin-bottom: -12px;
  }
  &__g-item{
    display: flex;
    align-items: center;

    color: $white;
    &:hover{
      color: $primary;
    }
  }
  &__g-icon{
    width: 19px;
    height: 19px;
    margin-right: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
    }
  }
  &__g-txt{
    font-size: 12px;
    line-height: 1.4;
  }
  //
  &__body{
    border-bottom: 1px solid $gray-310;

    padding: 33px 0 15px;
    @include media-breakpoint-up(md){
      padding: 36px 0 40px
    }
  }
  &__b-row{
    @include media-breakpoint-up(md){
      margin-bottom: -30px;
    }

    & > *{
      &:last-child{
        .footer__b-item{
          @include media-breakpoint-down(sm) {
            margin-bottom: 0 !important;
          }
        }
        .footer__b-head{
          @include media-breakpoint-down(sm){
            border-bottom: none!important;
            margin-bottom: 0!important;
            padding-bottom: 0!important;
          }
        }
      }
    }
  }
  &__b-item{
    margin-bottom: 12px;
    @include media-breakpoint-up(sm){
      margin-bottom: 30px;
    }
    &.active {
      .footer__b-head::before {
        opacity: 0;
      }
    }
  }
  &__b-head{
    display: flex;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-310;
    @include media-breakpoint-up(sm){
      padding-bottom: 7px;
      display: block;
      pointer-events: none!important;
    }
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
    //margin-bottom: 12px;

    &:after{
      position: absolute;
      display: block;
      content: '';
      @include media-breakpoint-up(sm){
        content: none;
      }
      margin-left: auto;
      width: 20px;
      height: 2px;
      flex-shrink: 0;
      background-color: $white;
      right: 3px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before{
      position: absolute;
      display: block;
      content: '';
      @include media-breakpoint-up(sm){
        content: none;
      }
      margin-left: auto;
      width: 2px;
      height: 20px;
      flex-shrink: 0;
      background-color: $white;
      right: 11px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }
  }
  &__b-content{
    padding-top: 12px;

    display: none;
    &.active{
      display: block;
    }

    @include media-breakpoint-up(sm){
      display: block!important;
    }
  }
  &__b-link{
    display: block;
    font-size: 12px;
    line-height: 1.4;
    color: $body-color;

    margin-bottom: 12px;
    &:last-child{
      margin-bottom: 0;
    }
    &:hover {
      color: $gray-300;
    }
  }
  &__c-head {
    font-size: 20px;
    margin-bottom: 9px;
    display: none;
    @include media-breakpoint-up(sm){
      display: block;
    }
  }
  &__c-content {
    font-size: 14px;
    margin-top: 20px;
    @include media-breakpoint-up(sm){
      margin-top: 0;
    }
    .icon {
      margin-right: 5px;
      font-size: 14px;
      fill: #D2D2D2;
    }
  }
  &__c-link {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
  }
  //
  &__bot{
    padding: 13px 0 5px;
    @include media-breakpoint-up(sm){
      padding: 25px 0;
    }
  }
  &__bot-row{
    @include roww(0);
  }
  &__bot-links{
    @include media-breakpoint-up(md){
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include media-breakpoint-up(lg){
      justify-content: flex-start;
    }

  }
  &__bot-link{
    margin-bottom: 6px;
    @include media-breakpoint-up(md){
      margin-bottom: 0;
    }

    display: flex;
    font-size: 12px;
    line-height: 1.4;

    color: $body-color;
    &:hover{
      color: $primary;
    }

    &:after{
      flex-shrink: 0;
      @include media-breakpoint-up(md){
        content: '';
      }
      width: 1px;
      background-color: $gray-310;
      margin: 0 12px;
    }

    &:last-child{
      &:after{
        content: none;
      }
    }
  }
  
  &__sm-all-r{
    border-top: 1px solid $gray-310;
    padding: 14px 0;
  }
  &__all-rights{
    font-size: 12px;
    line-height: 1.4;
  }
  &__{}
  &__{}
  &__{}
}

body.prod-card-page{
  footer{
    //--buy-bl-h
    @include media-breakpoint-down(lg){
      padding-bottom: var(--buy-bl-h, 60px);
    }
  }
}