// start .sForm
@use "sass:math";

.sForm {
	--sPB: 0;
	--sPT: 0;
	// --sTPB: 24px;
	// @include media-breakpoint-up(md){
	// 	--sPB: 72px;
	// 	--sTPB: 36px;
	// }
	// @include media-breakpoint-up(xl){
	// 	--sPB: 120px;
	// 	--sTPB: 0px;
	// }
	//
	.section-title{
		// &:before{
		// 	margin-bottom: 20px;
		// }
		h4{
			margin-bottom: rem(14);
			// font-size: 20px;
			// font-weight: bold;
		}
	}
	
	.form-wrap{
		form {
			background-color: transparent;
		}
		&__row{
			@include media-breakpoint-up(xl){
				margin-top: 28px;
			}
		}
		// &__inputs{
		// 	border-bottom: 1px solid $gray-310;

		// 	padding-bottom: 36px;
		// 	margin-bottom: 21px;
		// 	@include media-breakpoint-up(md){
		// 		padding-bottom: 60px;
		// 		margin-bottom: 36px;
		// 	}
		// }
		&__col-textarea {
			@include media-breakpoint-down(lg) {
				padding-top: rem(12);
			}
		}
		&__input-wrap{
			label{
				@include media-breakpoint-up(md){
					display: flex;
				}
			}

			margin-bottom: 12px;
			&:last-child{
				margin-bottom: 0;
			}

			textarea{
				height: 131px;
			}
		}
		&__input{

		}
		&__input-title{
			flex-shrink: 0;
			padding-right: 10px;
			// padding-top: 12px;

			font-size: 14px;
			line-height: math.div(17, 14);

			@include media-breakpoint-up(md){
				width: 123px;
			}
			@include media-breakpoint-up(xl){
				width: 100px;
			}
		}
		&__{}

		&__foot{

		}
		&__f-row{
			flex-direction: column-reverse;
			@include media-breakpoint-up(md){
				flex-direction: row;
			}

			& > *{
				margin-bottom: 12px;
			}
			margin-bottom: -12px;
		}
		&__policy{
			font-size: 10px;
			line-height: 1.4;
		}
		&__btn{
			font-size: 16px;
			width: 100%;
			max-width: rem(255);
		}
		&__wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: rem(30);
			@include media-breakpoint-down(md) {
				flex-direction: column;
				align-items: flex-start;
			}
			p {
				margin-bottom: rem(15);
				font-size: rem(12);
				line-height: 1.33em;
				letter-spacing: 0.03em;
				max-width: rem(306);
				@include media-breakpoint-up(md) {
					margin-bottom: 0;
				}
			}
		}
	}
	//
	&__{}
	&__{}
} // end.sForm