// start .sProdCard
@use "sass:math";

.sProdCard {
	--sTPB: 24px;
	
	--sPT: 12px;
	--sPB: 60px;
	@include media-breakpoint-up(md){
		--sPT: 13px;
		--sPB: 72px;
	}
	@include media-breakpoint-up(xl){
		--sPB: 96px;
	}
	&__icons-row{
		@include roww(24px);
		align-items: center;
		justify-content: space-between;
		margin-bottom: 19px;
	}
	&__icon{
		font-size: 12px;
		&:hover,
		&.active{
			.icon{
				stroke: $red;
				fill: $red;
			}
		}
	
		.icon{
			margin-right: 14px;
			font-size: 18px;
			stroke: $primary;
			fill: $primary;
			@include mt;
			// color: transparent;
		}
		.icon-heart {
			fill: none;
			stroke-width: 1px;
		}
	}

	.section-title{
		margin-bottom: 58px;
		h1 {
			font-size: 34px;
			font-weight: 300;
		}
		
	}
	.section-title.hit {
		position: relative;
		padding-left: 55px;
		&::before {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			content: 'Хит';
			background-color: $red;
			color: $white;
			padding: 2px 10px;
			@include media-breakpoint-down(xl) {
				top: 0;
				transform: none;
			}
		}
	}
	h2{
		line-height: 127%;
		margin-bottom: 5px;
		@include media-breakpoint-down(sm){
			font-size: 16px;
		}
	}
	&__available {
		position: relative;
		padding-left: 13px;
		margin-bottom: rem(30);
		&--true {
			color: $green;
		}
		&--false {
			color: $red;
		}
		&::before {
			position: absolute;
			left: 0;
			top: 50%;
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 50%;
			transform: translateY(-50%);
			background-color: currentColor;
		}
	}
	&__number {
		font-size: 12px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		@include media-breakpoint-down(lg) {
			margin-bottom: 15px;
		}
	}
	&__row {
		@include media-breakpoint-down(lg) {
			order: -2;
		}
	}
	&__subtitle {
		margin-bottom: 17px;
		
		font-weight: 700;
		font-size: 20px;
		color: #949494;
	}
	&__property {
		margin-bottom: rem(37);
		font-size: 14px;		
		p {
			margin-bottom: 11px;
		}
	}
	&__property-item {
		padding: 14px 20px;
		border-top: 1px solid $gray-400;
		&:last-child {
			border-bottom: 1px solid $gray-400;
		}
		span {
			font-weight: 300;
		}
	}
	&__property-item.active {
		background-color: $gray-100;
		.sProdCard__property-head {
			&::before {
				opacity: 0;
			}
		}
	}
	&__property-head{
		position: relative;
		font-weight: 700;
		&::after {
			position: absolute;
			content: '';
			right: 10px;
			top:50%;
			transform: translateY(-50%);
			height: 1px;
			width: 16px;
			background-color: $primary
		}
		&::before {
			position: absolute;
			content: '';
			right: 18px;
			top:50%;
			transform: translateY(-50%) rotate(180deg);
			height: 16px;
			width: 1px;
			background-color: $primary;
			@include mt;
		}
	}
	&__property-content {
		display: none;
		padding-top: 10px;
	}
	&__property-note {
		margin-top: 10px;
		padding-top: 5px;
		padding-right: 5px;
		font-size: 12px;
		border-top: 1px solid $red;
	}
	&__property-link {
		position: relative;
		padding-right: 12px;
		display: block;
		text-align: right;
		font-size: 12px;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			display: inline-block;
			width: 6px;
			height: 6px;
			border: solid $primary;
			border-width: 0 1px 1px 0;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
	&__promo {
		@include media-breakpoint-down(lg) {
			margin-bottom: 30px;
		}
	}
	&__promo-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
	}
	&__promo-title {
		font-weight: 700;
	}
	&__promo-link {
		position: relative;
		padding-right: 32px;
		display: block;
		text-align: right;
		font-size: 12px;
		&::after {
			content: '';
			position: absolute;
			right: 20px;
			top: 50%;
			display: inline-block;
			width: 6px;
			height: 6px;
			border: solid $primary;
			border-width: 0 1px 1px 0;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
	&__promo-item {
		position: relative;
		display: flex;
		padding: 20px;
		height: 216px;
		overflow: hidden;
		margin-bottom: 15px;
		&::after {
			position: absolute;
			content: '';
			display: inline-block;
			width: 100%;
			bottom: 0;
			left: 0;
			height: 80%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
	&__promo-item:hover {
		.sProdCard__promo-item::after {
			background: linear-gradient(180deg, rgba(0, 99, 154, 0) 0%, rgba(0, 99, 154, 0.7) 100%);
		}
	}
	&__promo-name {
		position: relative;
		margin-top: auto;
		font-size: rem(24);
		color: $white;
		line-height: 1.25;
		z-index: 10;
	}
	&__main-row{
		& > *{
			margin-bottom: 48px;
		}
		margin-bottom: -48px;
		@include media-breakpoint-up(md){
			& > *{
				margin-bottom: 60px;
			}
			margin-bottom: -60px;
		}

		// flex-direction: column-reverse;
		@include media-breakpoint-up(lg){
			flex-direction: row;
		}
	}

	&__side-col{
		position: relative;
		z-index: 3;
		@include media-breakpoint-down(lg) {
			display: flex;
			flex-direction: column;
		}
	}
	//table-descr
	&__table-descr{
		margin-bottom: 24px;
	}
	&__t-head{
		background-color: $body-color;
		padding: 15px 20px;

		font-size: 14px;
		line-height: math.div(17, 14);
		color: $white;
	}
	&__t-items{
		border-left: 1px solid $secondary;
		border-right: 1px solid $secondary;
	}
	&__t-item{
		@include roww(0);
		border-bottom: 1px solid $secondary;

	}
	&__t-name-col{
		background-color: $light;
		border-right: 1px solid $secondary;

		font-size: 12px;
		padding: 8px 15px;
		@include media-breakpoint-up(xsm){
			font-size: 14px;
			padding: 15px 10px 15px 20px;
		}
		line-height: math.div(22, 14);
	}
	&__t-val-col{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		font-size: 12px;
		padding: 8px 10px;
		@include media-breakpoint-up(xsm){
			font-size: 14px;
			padding: 7px 20px;
		}
	}
	&__t-logo{
		img{
			width: auto;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
	//t-country
	&__t-country{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	&__t-country-img{
		width: 48px;
		height: 30px;
		margin-right: 12px;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__t-country-txt{
		font-size: 14px;
		line-height: math.div(22, 14);
	}
	//
	&__det-link{
		padding-left: 16px;
		font-size: 14px;
		line-height: math.div(17, 14);

		margin-bottom: 36px;

		display: flex;
		align-items: center;

		color: $primary;
		&:hover{
			color: $body-color;
		}

		&:after{
			//@include mt();
			content: '';
			display: inline-block;
			margin-left: 12px;
			width: 16px;
			height: 16px;
			background-color: currentColor;
			border-radius: 50%;

			background-image: url(../img/svg/white-chevron-right.svg);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	//
	&__free{
		font-size: 12px;
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sProdCard

.pc-sliders{
	position: relative;
	--thumbIW: 68px;
	margin-bottom: 30px;
	@include media-breakpoint-up(md){
		--thumbIW: 101px;
		margin-bottom: 71px;
	}
	@include media-breakpoint-up(lg){
		--thumbIW: 68px;
		margin-bottom: rem(29);
	}
	.swiper-prev {
		left: 21px;
	} 
	.swiper-next {
		right: 21px;
	} 

	&__row{
		// flex-direction: column-reverse;
		// @include media-breakpoint-up(md){
			flex-direction: column;
	}
	&__thumb-slider{
		width: 100%;
		height: 100%;
		
		//def
		.swiper{
			height: 100%;
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			@include mt();
			cursor: pointer;
			width: 160px !important;
			height: 128px !important;

			opacity: .5;
			&:hover{
				opacity: 1;
			}

			--thumbBordCol: #{$gray-300};
			&.swiper-slide-thumb-active{
				--thumbBordCol: #{$primary};
				opacity: 1;
			}

		}
	}
	&__th-item{
		width: 100%;
		height: 100%;
		@include mt();
		background-color: $white;
		//border: 1px solid var(--thumbBordCol);

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	//
	&__slider-col{
		@include media-breakpoint-up(md){
			width: 100%;
			max-width: 100%;
		}
	}



	&__slider{
		.swiper{

		}
		.swiper-wrapper{

		}
		.swiper-slide{
			width: 100%;
			height: auto;
		}
	}
	&__slide-img{
		width: 100%;
		height: 0;
		position: relative;
		padding-top: 69%;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			position: absolute;
			top: 0;
			left: 0;
			// transform: translateX(-50%) translateY(-50%);
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	//
	&__{}
	&__{}
	&__{}
}

.buy-bl{
	--price-col-w: auto;
	--inp-col-d: none;
	--open-col-d: block;
	--close-bar-d: none;
	&.open{
		--price-col-w: 100%;
		--inp-col-d: block;
		--open-col-d: none;
		--close-bar-d: flex;
	}
	&__btns-col {
		margin-bottom: 30px !important;
	}
	padding: 12px 20px;
	@include media-breakpoint-up(md){
		padding: 18px 30px;
	}

	position: fixed;
	z-index: 900;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $white;
	border-top: 1px solid $secondary;
	@include media-breakpoint-up(lg){
		border: none;
		position: static;
		bottom: unset;
		left: unset;
		padding: 0;
		margin-bottom: 36px;
	}

	&__close-bar{
		position: absolute;
		left: 0;
		bottom: calc(100% - 1px);
		width: 100%;
		height: 24px;
		background-color: $primary;
		display: var(--close-bar-d);

		//display: flex;
		align-items: center;
		justify-content: center;
		.icon{
			font-size: 12px;
			color: transparent;
			stroke: $white;
		}
	}
	&__main-row {
		@include roww(20px);
		@include media-breakpoint-up(md){
			@include roww(30px);
		}

		& > *{
			margin-bottom: 30px;
		}
		margin-bottom: -30px;
		
		align-items: center;
		@include media-breakpoint-up(lg){
			align-items: flex-start;
		}
	}
	&__price-col{
		margin-bottom: 9px;
		@include media-breakpoint-down(md){
			width: var(--price-col-w);
		}
	}
	//
	&__price-row{
		@include roww(22px);
		--bs-gutter-y: 20px;
		align-items: center;
		@include media-breakpoint-up(lg){
			align-items: center;
			padding-bottom: 23px;
			flex-direction: column;
			& > .col:first-child {
				position: relative;
				margin-bottom: 10px;
				&::after {
					position: absolute;
					right:4%;
					top: 40%;
					transform: translateY(-50%);
					content: '-10%';
					font-size: rem(18);
					color: $white;
					background-color: $red;
					padding: 6px 16px;
				}
			}
		}
	}
	&__price--old{
		font-size: 14px;
		margin-right: 10px;
		white-space: nowrap;
		line-height: 1.2;
		text-decoration-line: line-through;
		color: $gray-600;
	}
	&__price--new{
		position: relative;
		// @include media-breakpoint-up(lg){
		// 	height: 0;
		// }
		white-space: nowrap;
		font-size: 24px;
		@include media-breakpoint-up(md){
			font-size: 40px;
		}
	}

	&__inputs-col{
		@include media-breakpoint-down(md){
			display: var(--inp-col-d);
		}
	}
	&__price{
		display: flex;
		margin-top: -3px;
		
		@include media-breakpoint-down(lg) {
			margin-bottom: 10px;
			align-items: center;
		}
	}
	&__p-btn{
		position: relative;
		flex-shrink: 0;
		// @extend .btn;
		// @extend .btn-outline-secondary;
		border: 1px solid $gray-400!important;
		color: $gray-400;
		cursor: pointer;
		&:hover{
			position: relative;
			z-index: 1;
			background-color: $primary!important;
			border-color: $primary!important;
			color: $white!important;
		}
		&:active{
			color: $white!important;
			background-color: $primary!important;
			&::after {
				background-color:$white;
			}
			&::before {
				background-color:$white;
			}
		}

		width: 48px;
		height: 48px;
		@include media-breakpoint-down(lg) {
			// width: 35px;
			// height: 35px;
		}

		display: flex;
		align-items: center;
		justify-content: center;

		&--min{
			margin-right: -1px;
			&::after {
				content: '';
				display: inline-block;
				position: absolute;
				width: 18px;
				height: 2px;
				border-radius: 3px;
				background-color: $gray-600 !important;
				@include mt;
			}
		}
		&--plus{
			margin-left: -1px;
			&::after {
				content: '';
				display: inline-block;
				position: absolute;
				width: 18px;
				height: 2px;
				border-radius: 3px;
				background-color: $gray-600!important;
				@include mt;
			}
			&::before {
				content: '';
				display: inline-block;
				position: absolute;
				width: 2px;
				height: 18px;
				border-radius: 3px;
				background-color: $gray-600!important;
				@include mt;
			}
		}
	}
	&__p-input{
		border: 1px solid $gray-400!important;
		padding: 15px 10px;
		text-align: center;
		// width: 51px;
	}
	//
	&__btn-row{
		& > *{
			margin-bottom: 12px;
		}
		margin-bottom: -12px;
	}
	&__buy-btn{
		@extend .btn;
		@extend .btn-primary;
		width: 100%;

		@include media-breakpoint-down(md){
			min-width: 160px;
		}
		@media (max-width: 370px) {
			min-width: 0;
		}
	}
	&__bill-col{
		@include media-breakpoint-down(md){
			display: var(--inp-col-d);
		}
	}
	&__bill-btn{
		@extend .btn;
		@extend .btn-outline-primary;
		width: 100%;
		@include media-breakpoint-down(lg){
			padding-left: 5px !important;
			padding-right: 5px !important;
		}
	}
	&__open-col{
		@include media-breakpoint-down(md){
			display: var(--open-col-d);
		}
	}
	&__open{
		&:before,
		&:after,
		span{
			content: '';
			display: block;
			width: 4px;
			height: 4px;
			margin-bottom: 4px;
			border-radius: 50%;
			background-color: $primary;
		}
		&:after{
			margin-bottom: 0;
		}
	}
	&__{}
}
//
.mini-slider{
	margin-bottom: 24px;
	.swiper{

	}
	.swiper-wrapper{

	}
	.swiper-slide{
		height: auto;
	}
	.swiper-pagination{
		padding: 20px 0;
		position: static!important;
		top: unset!important;
		left: unset!important;
		&-bullet {
			background-color: $secondary!important;
			// @include media-breakpoint-down(xl){
			// 	width: 30px!important;
			// }

			&-active,
			&:hover {
				background-color: $red !important;
			}
		}
	}

	&__img{
		@extend .accept-ratio-frame;
		padding-top: math.div(170, 360) * 100%;
		height: 220px;
	}
}
.sProdCard-thumb-js  {
	.swiper-wrapper{
		flex-wrap: nowrap;
		@include media-breakpoint-up(sm) {
			flex-wrap: wrap;
			margin-left: calc(-1 * var(--bs-gutter-x)/ 2);
			margin-right: calc(-1 * var(--bs-gutter-x)/ 2);
			transform: none!important;
			width: calc(100% + 30px)!important;
		}
	}
}

.prodTabs{
	&__caption{
		border-bottom: 1px solid $gray-400;
		margin-bottom: 30px;
		padding-bottom: 10px;
		.swiper{
			@include media-breakpoint-down(xl){
				overflow: visible!important;
			}
		}
		.swiper-slide{
			width: auto;
			height: auto;
		}
	}
	&__title {
		margin-bottom: 15px;
		font-size: rem(24);
	}
	&__docs-item {
		display: flex;
		align-items: center;
		padding: 12px 15px;
		border: 1px solid $gray-400;
		.icon {
			margin-right: rem(42);
			font-size: 44px;
			color: $primary;
		}
	}
	&__doc-title {
		max-width: 400px;
		margin-right: rem(30);
	}
	&__docs-btn {
		@extend .btn;
		@extend .btn-primary;
		margin-left: auto;
	}
	&__btn{		
		padding: 5px 10px 2px;
		font-weight: 300;

		&.active{
			color: $primary;
		}
		&.count {
			&::after {
				content: '132';
				
				color: #949494;
			}
		}
		&.count.active {
			&::after {
				color: $white;
			}
		}
	}
	.tabs__content {
		p {
			line-height: 160%;
		}
	}
	//table
	&__table{

	}
	&__t-row{
		@include roww(0);
		&:nth-child(odd){
			background-color: $gray-100;
		}
	}
	&__t-name-col{
		padding: 8px 15px;
		font-size: 12px;
		@include media-breakpoint-up(xsm){
			padding: 10px 20px;
			font-size: 14px;
		}
		line-height: math.div(20, 14);
		color: rgba(51, 51, 51, 0.5);
	}
	&__t-val-col{
		padding: 8px 15px;
		font-size: 12px;
		@include media-breakpoint-up(xsm){
			padding: 10px 20px;
			font-size: 14px;
		}
		line-height: math.div(20, 14);
	}
	&__wrap{
		margin-bottom: 60px;
		@include media-breakpoint-down(lg) {
			margin-bottom: 0;
		}
	}
	&__{}
	&__{}
}
.feedback {
	&__item {
		margin-bottom: 39px;
	}
	&__source {
		margin-bottom: 37px;
		img {
			width: 40px;
			margin-right: 15px;
		}
		&--bosch {
			img {
				width: 122px;
			}
		}
	}
	&__link {
		@extend .btn;
		@extend .btn-outline-primary;
		padding: 3px 15px;
	}
	&__source-link {
		display: block;
		margin-bottom: 28px;
		color: $primary;
		font-weight: 300;
	}
	&__info {
		margin-bottom: 5px;
	}
	&__user {
		margin-bottom: 15px;
	}
	&__date {
		font-size: 12px;
	}
	&__rating {
		margin-bottom: 15px;
		.icon {
			color: #F35321;
			font-size: 14px;
			margin: 0 5px;
		}
		.icon-star--empty {
			color: transparent;
			stroke: #F35321;
		}
		&--bosch {
			.icon {
				color: $primary;
			}
			.icon-star--empty {
				color: transparent;
				stroke: $primary;
			}
		}
	}
	p {
		margin-bottom: 0;
	}
	span {
		display: block;
		font-size: 12px;
	}
	&__text--main {
		margin-bottom: 20px;
		line-height: 160%;		
	}
	&__answer {
		padding-left: 24px;
		margin-bottom: 30px;
		span {
			display: block;
			font-size: 12px;
		}
		a {
			font-size: 14px;
			color: #0063DA;
		}
		.feedback__info {
			margin-bottom: 20px;
		}
	}
	&__manager {
		color: $primary;
		img {
			margin-right: 8px;
		}
	}
	&__show-more {
		padding: 20px 0;
		margin-bottom: 30px;
		border-top: 1px solid #D2D2D2;
	}
	&__btn {
		position: relative;
		font-size: 14px;
		color: $primary;
		border: none;
		background-color: transparent;
		&::after {
			content: '';
			display: block;
			position: absolute;
			right: -5px;
			top: 50%;
			width: 6px;
			height: 6px;
			border: solid $primary;
			border-width: 0 1px 1px 0;
			transform: rotate(45deg) translateY(-50%);
		}
		&:hover {
			color: #124e5f;
			&::after {
				border-color: #124e5f;
			}
		}
	}
	&__form {
		padding: 30px;
		max-width: 555px;
		background-color: $gray-100;
	}
	&__form-title {
		
		margin-bottom: 26px;
		font-size: 20px;
		color: #4E4E4E;
	}
	.form-wrap {
		&__rate {
			display: flex;
    	align-items: center;
			margin-bottom: 19px;
			.icon {
				color: $primary;
				font-size: 20px;
				margin: 0 5px;
			}
			.icon-star--empty {
				color: transparent;
				stroke: $primary;
			}
		}
		&__f-row {
			--bs-gutter-y: 20px;
		}
		&__rate-label {
			min-width: 160px;
		}
		&__rate-label, &__input-title {
			font-size: 14px;
			color: #282828;
		}
		&__input-wrap {
			margin-bottom: 15px;
		}
		textarea {
			height: 131px;
		}
		label {
			display: flex;
		}
		span {
			min-width: 160px;
			line-height: 180%;
		}
		&__foot {
			padding-top: 15px;
		}
		&__policy {
			font-size: 12px;
		}
		&__btn {
			@include media-breakpoint-up(xl) {
				padding: 13.5px 69px;
			}
		}
	}
}