extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCategory/_sCategory.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sArticals/_sArticals.pug
include ../blocks/sNewsBox/_sNewsBox.pug
include ../blocks/sSeo/_sSeo.pug
include ../blocks/sArticle/_sArticle.pug
include ../blocks/sCatalogPage/_sCatalogPage.pug
include ../blocks/sCart/_sCart.pug
include ../blocks/sPAcc/_sPAcc.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= '06-personal-account.html'
	title= title
block pagecontent
	//-+mob-mnu()
	+header()
	+topLine()
	+top-nav()
	+page-head('Неретин Николай Игоревич', 'true', 'profile', 'Главная', 'Личный кабинет')
	+sPAcc()
	+footer()