mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			.row
				.col-md-8
					+e.text
						p Уважаемые покупатели!
						p В&nbsp;нашем магазине вы&nbsp;можете оплатить Ваш товар наличными или безналичным способом.
					ul
						li
							+icon('coins')
							+e.inner-text
								h4 Оплата наличными
								p Расплатиться наличными можно с курьером при доставке заказа или в наших розничных магазинах.
						li
							+icon('card')
							+e.inner-text
								h4 Оплата банковской картой
								p Пластиковой картой Visa, MasterCard, Maestro при получении товара<br>(только в&nbsp;розничных магазинах).
						li
							+icon('blank')
							+e.inner-text
								h4 Безналичным расчёт для юридических лиц
								p Пришлите Ваши реквизиты на&nbsp;почту info@tehnosadov.ru или сделайте заказ на&nbsp;сайте и мы выставим счет.
					+e.text
						p Уважаемые покупатели!
						p По&nbsp;Москве и&nbsp;Московской области, доставка товаров, представленных в&nbsp;нашем магазине, осуществляется собственной службой доставки.
						p Доставка в&nbsp;регионы России осуществляется при помощи наших партнеров&nbsp;&mdash; транспортных компаний.
					h4 Стоимость доставки по&nbsp;Москве (в&nbsp;пределах МКАД)
					+e.item--indent
						h4 350 рублей
						p При общей стоимости заказа до 10 000 рублей
					+e.item--indent
						h4 Бесплатно
						p При общей стоимости заказа свыше 10 000 рублей
					+e.time Доставка по&nbsp;Москве осуществляется в&nbsp;режиме работы:<br>Будние дни: 10:00&nbsp;&mdash; 22:00<br>Выходные и&nbsp;праздничные дни: 10:00&nbsp;&mdash; 18:00<br>В&nbsp;двух временных интервалах:<br>10:00&nbsp;&mdash; 18:00<br>19:00&nbsp;&mdash; 22:00
					+e.item--mb
						h4 Стоимость доставки по Московской области ( за пределы МКАД)
						p Стоимость доставки МКАД рассчитывается исходя из&nbsp;стоимости доставки по&nbsp;Москве (в&nbsp;пределах МКАД) + 30&nbsp;руб./км
						p В&nbsp;виду серьёзной сложности с&nbsp;парковкой в&nbsp;городе, Доставка осуществляется до&nbsp;подъезда (без подъёма на&nbsp;этаж)!
					+e.item
						h4 Доставка в регионы России
						p Доставка в&nbsp;регионы России, осуществляется любой выбранной Вами транспортной компанией. Мы&nbsp;рекомендуем: ЖелДорЭкспедиция, СДЭК, Первая Экспедиционная Компания
						p Стоимость доставки до&nbsp;ТК будет такой&nbsp;же как по&nbsp;Москве, для расчета стоимости доставки в&nbsp;ваш регион воспользуйтесь калькулятором на&nbsp;сайте&nbsp;ТК или у&nbsp;наших менеджеров по&nbsp;телефону. Для расчета вам понадобятся данные о&nbsp;весе товара и&nbsp;его габаритах, их&nbsp;вы&nbsp;можете найти в&nbsp;характеристиках товара на&nbsp;нашем сайте.
	// end sContent