// start .sCatalog
@use "sass:math";

.sCatalog {
	padding-top: 64px;
	.section-title {
		padding-bottom: 29px;
	}
	&.sCatalog--also{
		.sCatalog__slide{
			@include media-breakpoint-up(lg){
				width: calc((100% / 3) - (30px * 2 / 3));
			}
		}
		.section-title{
			&:before{
				margin-bottom: 16px!important;
			}
		}
	}
	&.sCatalog--similar{
		.swiper-wrapper{
			@include media-breakpoint-up(md){
				transform: none!important;
				flex-wrap: wrap!important;
			}

			&.has-plus-btn{
				.swiper-slide{
					@include media-breakpoint-up(md){
						&:nth-child(n + 9) {// 5looped slides + 3 visiable
							display: none;
						}
					}
				}
			}

		}
		.sCatalog__slide{
			&.swiper-slide-duplicate{
				@include media-breakpoint-up(md){
					display: none;
				}
			}
			@include media-breakpoint-up(md){
				width: 100%;
				margin-bottom: 30px;
			}
		}

		.section-title{
			&:before{
				margin-bottom: 16px!important;
			}
		}
	}
	&__plus-btn{
		@extend .btn;
		@extend .btn-light;
		padding: 0;

		width: 50px;
		height: 50px;
		border-radius: 50%;

		display: inline-flex;
		align-items: center;
		justify-content: center;

		.icon{
			stroke: $primary;
			stroke-width: 2px;
			font-size: 22px;
		}
	}
	//


	.section-title {
		padding-bottom: rem(29);
	}

	.swiper{
		margin: -20px;
    padding: 20px;
		@include media-breakpoint-down(sm){
			overflow: visible!important;
		}
	}
	&__slider-wrappper {

	}

	&__slide {
		width: 223px;
		@include media-breakpoint-up(sm){
			width: calc((100% / 2) - (30px * 1 / 2));
		}
		@include media-breakpoint-up(md){
			width: calc((100% / 3) - (30px * 2 / 3));
		}
		@include media-breakpoint-up(lg){
			width: calc((100% / 4) - (30px * 3 / 4));
		}
		height: auto;
	}

	&__slider-wrappper {
		position: relative;
	}

	&__col {
		margin-bottom: 30px;
	}

	&.sCatalog--familiar{
		.sCatalog__slide{
			@include media-breakpoint-up(lg){
				width: calc((100% / 4) - (30px * 2 / 4))!important;
				max-width: rem(262);
			}
		}
	}
}

// end.sCatalog

.prod-item {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 60px 20px 20px;
	background-color: $light;
	min-height: 100%;
	line-height: math.div(22, 18);
	@include mt;
	border: 1px solid #E6E6E6;
	
	&__links {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;
		@include media-breakpoint-down(sm) {
			top: 5px;
		}
		.icon {
			stroke: #cccccc;
			font-size: 18px;
			color: transparent;
			fill: none;
			@include mt;
			&:hover {
				stroke: $primary;
			}
		}
		
	}
	&__compare--active,
	&__bookmarks--active {
		.icon {
			stroke: $primary;
		}
	}
	
	
	&__img-link {
		// display: block;
		flex-grow: 1;
		&:hover {
			.prod-item__code {
				color: $cyan;
			}
		}
	}
	//
	&__img-wrap {
		@include block(222,180);
		max-width: 222px;
		margin-bottom: 10px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	
	//
	&__code{
		font-size: 16px;
		line-height: 160%;
		color: $primary;
		margin-bottom: 5px;
	}
	&__title {
		display: block;
		margin-bottom: rem(12);
		font-size: 14px;
		line-height: 1.4;
		font-weight: 300;
		color: $body-color;
	}
	&__box{
		position: relative;
		padding: 10px 0;
		border-top: 1px solid #e6e6e6;		
	}
	
	&__price-wrap {
		display: flex;
		flex-direction: column;
	}
	
	&__price--old {
		font-size: 14px;
		text-decoration-line: line-through;
		color: #CCCCCC;
		white-space: nowrap;
	}
	
	&__price--new {
		font-size: 24px;
		white-space: nowrap;
	}

	&__discount {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 13px;
		right: 0;
		width: 54px;
		height: 24px;
		background-color: $red;
		color: $white;
		font-size: 14px;
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		color: $white;
		display: block;
		width: 100%;
		&:hover {
			color: $white;
			background-color: $cyan;
		}
	}

	&__labels {
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
	}

	&__label-link {
		@extend .btn;
		@extend .btn-outline-light;
		padding: 0;
		width: rem(30px);
		height: rem(30px);
		display: flex;
		justify-content: center;
		margin-left: rem(5);

		.icon {
			font-size: rem(18);
			color: transparent;
			stroke: $primary;
			stroke-width: 1px;
		}

		.icon-like {
			font-size: rem(16);
		}
	}

	&__badge {
		position: absolute;
		left: 0;
		top:0;

		text-transform: uppercase;
		color: $white;
		font-weight: bold;
		font-size: 10px;
		line-height: 1.2;
		letter-spacing: 0.1em;
		padding: 4px 7px;

		&.bg-red{
			background-color: $danger;
		}
	}
}
//
.long-item{
	border: 1px solid $gray-100;
	&:hover {
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	}

	@include media-breakpoint-down(md){
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__row{
		@include roww(0);
		@include media-breakpoint-down(md){
			//background-color: red;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
		}
	}
	&__img-col{
		position: relative;
		width: 262px!important;
		flex-shrink: 0;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-down(sm) {
			margin: 0 auto;
		}
	}
	&__img{
		@extend .accept-ratio-frame;
		padding-top: math.div(180, 222) * 100%;
	}
	&__content-col{
		position: relative;
		display: flex;
		flex-direction: column;
		@include media-breakpoint-down(md){
			flex-grow: 1;
			display: flex;
			flex-direction: column;
		}

		background-color: $gray-100;

		--pad-l: 15px;
		padding: 12px var(--pad-l, 15px) 0;
		@include media-breakpoint-up(md){
			padding: 29px 20px 35px 39px;
		}
	}
	&__links {
		position: absolute;
		right: 10px;
		top: -30px;
		@include media-breakpoint-up(lg){
			top: 14px;
		}
		@include media-breakpoint-up(md){
			right: 23px;
			top: 5px;
		}
		.icon {
			font-size: 19px;
			@include mt;
			color: transparent;
		}
		.icon-bars {
			fill:#949494;
		}
		.icon-heart {
			fill: none;
			stroke: #949494;
		}
	}
	&__compare {
		margin-right: 16px;
		&:hover {
			.icon {
				fill: $red;
				stroke: $red;
			}
		}
	}
	&__bookmarks {
		&:hover {
			.icon {
				fill: $red;
				stroke: $red;
			}
		}
	}
	&__tag{
		position: absolute;
		top: 0;
		left: 20px;
		background: $red;
		color: $white;
		z-index: 2;
		padding: 4px 8px;
		font-weight: 700;
		text-transform: uppercase;
		color: $white;
		@include media-breakpoint-down(md){
			font-size: 12px;
		}
	}
	&__code{
		font-size: 20px;
		line-height: math.div(14, 12);
		color: #4E4E4E;
		margin-bottom: 8px;
	}
	&__title{
		font-size: 18px;
		line-height: math.div(20, 14);
		max-width: 450px;
		margin-bottom: 10px;
		justify-content: center;
		@include media-breakpoint-up(md){
			justify-content: flex-start;
		}

		display: flex;
		align-items: center;
		color: #4E4E4E;
	}
	&__lower-row{
		margin-top: auto;

		@include media-breakpoint-up(md){
			& > *{
				margin-bottom: 12px;
			}
			margin-bottom: -12px;
		}
	}
	&__price--old{
		white-space: nowrap;
		font-size: 14px;
		line-height: math.div(14, 12);
		text-decoration-line: line-through;
		color: $danger;
		white-space: nowrap;
		margin-right: 7px;
	}
	&__price-col{
		display: flex;
		align-items: center;
		margin-top: auto;
		@include media-breakpoint-down(md){
			margin-bottom: 12px;
			justify-content: center;
		}
	}
	&__price--new{
		white-space: nowrap;
		font-size: 20px;
		line-height: math.div(19, 16);
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		margin-right: -15px;
		margin-left: -15px;
		// min-width: 100%;
		@include media-breakpoint-up(md){
			position: absolute;
			bottom: 0;
			right: 0;
			min-width: 184px;
			margin-right: 0;
			margin-left: 0;
		}
	}
	&__btn-col{
		@include media-breakpoint-down(md){
			margin: 0 calc(-1 * var(--pad-l, 15px));
			width: calc(100% + var(--pad-l, 15px) * 2);
			max-width: calc(100% + var(--pad-l, 15px) * 2);
		}
	}
	&__{}
}