// start .sPAcc
@use "sass:math";

.sPAcc {
	// --sTPB: 24px;

	--sPT: 12px;
	--sPB: 60px;
	@include media-breakpoint-up(md){
		--sPT: 30px;
		--sPB: 72px;
	}
	@include media-breakpoint-up(xl){
		--sPB: 120px;
	}

	.section-title{
		&:before{
			margin-bottom: 0!important;
		}
		&__row{
			padding: 12px 12px 12px 20px;
			@include media-breakpoint-up(md){
				padding: 16px 21px;
			}
			@include media-breakpoint-up(xl){
				padding: 16.5px 24px;
			}
		}
		h2{
			@include media-breakpoint-down(sm){
				font-size: 18px;
			}
		}
		&__log-out{
			display: flex;
			align-items: center;

			font-size: 14px;
			line-height: math.div(17, 14);

			color: $body-color;
			&:hover{
				color: $primary;
			}
		}
		&__icon{
			width: 24px;
			height: 26px;
			margin-right: 10px;

			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
	//
	&__row{
		& > *{
			margin-bottom: 36px;
		}
		margin-bottom: -40px;
		@include media-breakpoint-up(md){
			& > *{
				margin-bottom: 48px;
			}
			margin-bottom: -48px;
		}
	}
	&__tab-btn{
		@include mt();
		font-size: 16px;
		line-height: 1.60em;

		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		&.active, &:hover{
			color: $primary;
		}
	}
	&__info-content{
		@include media-breakpoint-up(xl){
			max-width: 661px;
		}
	}
	&__profile-txt{
		&:last-child{
			margin-bottom: 0;
		}

		margin-bottom: 48px;
		@include media-breakpoint-up(md){
			margin-bottom: 48px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 60px;
		}
	}
	&__p-title{
		line-height: 1.5em;
		margin-bottom: 14px;
	}
	&__p-data{
		margin-bottom: 26px;
	}
	&__pd-row{
		flex-wrap: nowrap;
		align-items: center;
		@include roww(20px);
		& > *{
			margin-bottom: 14px;
		}
		margin-bottom: -14px;
		padding-bottom: 12px;
		&:last-child{
			padding-bottom: 0;
		}

		font-size: 16px;
	}

	--title-width: 96px;
	&__pd-name{
		flex-shrink: 0;
		width: var(--title-width, 96px);
		color: #000;
		line-height: 1.28em;
		font-size: rem(14);
	}
	&__pd-val{
		color: #000;
		line-height: 1.60em;
		word-break: break-all;
	}
	&__change-btn{
		@extend .btn;

		min-width: 100%;
		@include media-breakpoint-up(sm){
			min-width: 262px;
		}
	}
	//
	&__change-box{
		&:last-child{
			padding-bottom: 0;
		}

		padding-bottom: 48px;
		@include media-breakpoint-up(md){
			padding-bottom: 48px;
		}
		@include media-breakpoint-up(xl){
			padding-bottom: 60px;
		}
	}
	.form-wrap{
		form {
			background-color: transparent;
		}
		&__inputs{
			padding-bottom: 24px;
		}
		&__input-wrap{
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
			label{
				@include media-breakpoint-up(md){
					display: flex;
					align-items: center;
				}
			}
		}
		&__input-title{
			font-size: 14px;
			line-height: math.div(17, 14);

			display: block;

			flex-shrink: 0;
			margin-bottom: 6px;
			@include media-breakpoint-up(md){
				margin-bottom: 0px;
				width: var(--title-width, 96px);
			}
		}
		&__input-box{
			position: relative;
			flex-grow: 1;
		}
		&__input{
			//padding: 15px 20px;
			padding-right: 50px;
			border-color: $gray-600;
		}
		&__cross-btn{
			position: absolute;
			cursor: pointer;
			height: 100%;
			width: 48px;
			top: 0;
			right: 0;

			display: flex;
			align-items: center;
			justify-content: center;
			&:hover{
				transform: scale(1.1);
				.icon{
					stroke-width: 1.5px;
				}
			}

			.icon{
				@include mt();
				color: transparent;
				font-size: 12px;
				stroke-width: 1px;
				stroke: $black;
			}
		}
		//
		&__btns-row{
			& > *{
				margin-bottom: 12px;
			}
			margin-bottom: -12px;
			@include media-breakpoint-up(md) {
				margin-left: rem(81);
				justify-content: space-between;
			}
			//padding-bottom: 48px;
		}
		&__btn{
			@extend .btn;
			min-width: 100%;
			@include media-breakpoint-up(md){
				min-width: 255px;
			}

			&--save{
				@extend .btn-primary;
			}
			&--cancel{
				@extend .btn-outline-primary;
				@include media-breakpoint-up(md) {
					min-width: rem(162);
				}
			}
		}
		&__{}
	}
	//
	&__{}
} // end.sPAcc

.pa-orders{
	&__title{
		// font-size: 20px;
		line-height: 1.25em;

		margin-bottom: 14px;
	}
	&__items{

	}
	&__item{
		// margin-bottom: 12px;
		&:last-child{
			border-bottom: 1px solid $secondary;
		}

		--side-padding: 15px;
		@include media-breakpoint-up(xsm){
			--side-padding: 20px;
		}
		@include media-breakpoint-up(sm){
			--side-padding: 20px;
		}
		--head-bg: #{$white};
		&:not(.active):hover{
			--head-bg: #{$light};
		}

		--head-bord-col: #{$gray-310};
		--head-col: #{$body-color};
		--head-num-col: #{$blue};
		--date-col: #4E4E4E;
		&.active{
			--head-bg: #{$gray-100};
			--head-bord-col: #{$gray-310};
			--head-col: #{$white};
			--head-num-col: #{$blue};
			--date-col: #000;
			.pa-orders__chevron {
				&::after {
					transform: rotate(0);
				}
			}
		}
		&:not(.active) {
			.pa-orders__head:hover {
				background-color: $gray-310;
			}
		}
	}
	&__head{
		min-height: 71px;
		@include mt();
		cursor: pointer;

		padding: 20px var(--side-padding, 20px);
		@include media-breakpoint-up(md){
			padding: 24px var(--side-padding, 30px);
		}

		border-top: 1px solid var(--head-bord-col, #{$secondary});
		// border-right: 1px solid var(--head-bord-col, #{$secondary});
		// border-left: 1px solid var(--head-bord-col, #{$secondary});

		background-color: var(--head-bg, white);
		color: var(--head-col, black);
	}
	&__h-main-row{
		font-size: 14px;
		line-height: math.div(17, 14);
	}
	&__h-sub-row{
		& > *{
			margin-bottom: 4px;
		}
		margin-bottom: -4px;
	}
	//
	&__num-col{
		// font-weight: bold;
		color: var(--head-num-col, #{$primary});
	}
	&__date-col{
		color: var(--date-col);

		@include media-breakpoint-down(md){
			margin-bottom: 12px;
		}
	}
	&__price-col{
		color: #000;
	}
	&__status-col{
		// font-weight: 700;
		color: #000;
		@include media-breakpoint-up(md){
			min-width: 100px;
		}
		@include media-breakpoint-up(xl){
			min-width: 150px;
		}
		&--noPaid {
			color: $red;
		}
	}
	&__chevron{
		width: 16px;
		height: 16px;

		display: flex;
		align-items: center;
		justify-content: flex-end;

		position: relative;
		&:before, &:after {
			content: '';
			position: absolute;
			display: block;
			width: 16px;
			height: 1px;
			background-color: $blue;
			// left: 0;
			// top: 0;
			@include mt();
		}
		&:after {
			transform: rotate(-90deg);
		}
		// .icon{
		// 	@include mt();
		// 	font-size: 14px;
		// 	stroke: var(--head-num-col, #{$primary});
		// 	color: transparent;
		// }
		@include mt();
		// transform: var(--chevron-tf);
	}
	//
	&__content{
		// border-left: 1px solid $secondary;
		// border-right: 1px solid $secondary;
		background-color: $gray-100;
		display: none;
		&.active{
			display: block;
		}
	}
	//
	&__top-box{
		padding: 7px var(--side-padding, 30px) 30px;
		@include media-breakpoint-up(md){
			padding: 7px var(--side-padding, 30px) 30px;
		}
		@include media-breakpoint-up(xl){
			padding: 7px var(--side-padding, 30px) 30px;
		}
		// border-bottom: 1px solid $secondary;
	}
	&__t-row{
		& > *{
			margin-bottom: 30px;
		}
		// margin-bottom: -30px;
	}
	&__tl-col{
		@include media-breakpoint-up(md){
			width: 50%;
		}
		@include media-breakpoint-up(lg){
			width: 58.3%;
		}
	}
	&__tr-col{

	}
	&__t-title{
		// font-weight: bold;
		font-size: 24px;
		line-height: math.div(30, 24);
		margin-bottom: 14px;
		&--notDelivered {
			margin-bottom: 0;
		}
	}
	//t-info
	&__t-info{
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
	}
	&__ti-row{
		@include roww(28px);
		& > *{
			margin-bottom: 4px;
		}
		margin-bottom: -4px;

		padding-bottom: 12px;
		&:last-child{
			padding-bottom: 0;
		}
	}
	&__ti-key-col{
		@include media-breakpoint-up(xl){
			// width: 166px!important;
		}

		font-size: 12px;
		line-height: 1.60em;
		color: #000;
	}
	&__ti-val-col{
		font-size: 16px;
		line-height: 1.60em;
		color: #000;
	}
	//t-dates
	&__t-dates{
		display: flex;
		flex-wrap: wrap;
		row-gap: rem(15);
	}
	&__td-row{
		@include media-breakpoint-up(xl){
			@include roww(26px);
		}

		& > *{
			margin-bottom: 4px;
		}
		margin-bottom: -4px;

		padding-bottom: 12px;
		&:last-child{
			padding-bottom: 0;
		}
	}
	&__td-date-col{
		@include media-breakpoint-up(xl){
			width: 123px!important;
		}
		font-size: 14px;
		line-height: math.div(17, 14);
		color: #4E4E4E;
		display: flex;
		// align-items: center;
		flex-direction: column;
	}
	&__td-ball{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		border: 1px solid;
		margin-bottom: 9px;
		border: 1px solid $primary;
		flex: 0 0 auto;
		background-color: $primary;
		position: relative;
		z-index: 2;
		&.active {
		}
	}
	&__td-status-col{
		font-size: 16px;
		line-height: 1.60em;
		color: #000000;

		// @include media-breakpoint-down(xl){
		// 	padding-left: 40px;
		// }
	}
	//goods
	&__goods{

	}
	&__g-title{
		// border-top: 1px solid $gray-310;
		// padding-top: 20px;
		// &:before{
		// 	content: '';
		// 	display: block;
		// 	width: 165px;
		// 	height: 4px;
		// 	background-color: $primary;
		// }
		h4{
			// font-family: $default-font;
			// font-weight: bold;
			font-size: 24px;
			line-height: 1.25em;
			margin-bottom: 13px;
		}
	}
	&__g-items{
	}
	//foot
	&__foot{
		// background-color: $light;

		padding: 0 40px 30px;
		@include media-breakpoint-up(md){
			padding: 0 40px 30px;
		}
	}
	&__f-data{
		// max-width: 300px;
	}
	&__fd-row{
		& > *{
			margin-bottom: 30px;
		}
		margin-bottom: -30px;

		font-size: 14px;
		line-height: math.div(24, 14);

		&.huge-row{
			// font-weight: 700;
			// font-size: 24px;
			// line-height: math.div(38, 24);
			align-items: center;
			.pa-orders__fd-key-col{
				font-size: rem(16);
			}
			.pa-orders__fd-val-col{
				font-size: rem(24);
			}
		}
	}
	&__delivery-item{
		&:not(:last-child) {
			padding-right: rem(30);
		}
		@include media-breakpoint-up(md) {
			position: relative;
			z-index: 2;
			&:not(:last-child) {
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 100%;
					height: 1px;
					background-color: $gray-400;
					top: 6px;
					left: 0;
					z-index: 1;
				}
			}
		}
		span {
			font-size: rem(12);
			line-height: 1.60em;
		}
	}
	&__info-item {
		&:not(:last-child) {
			margin-right: rem(30);
		}
	}
}

.g-item{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	// padding: 12px 0;
	border: 1px solid #E6E6E6;
	background-color: #fff;
	&__img {
		padding: rem(20) rem(15) rem(20) rem(20);
		// @include block(119, 120);
		width: rem(154);
	}
	&__info-wrap {
		padding: rem(20) rem(20) rem(20) rem(15);
		flex-grow: 1;
		@include media-breakpoint-up(md) {
			border-right: 1px solid #E6E6E6;
		}
	}
	&__product-head {
		p {
			font-size: rem(14);
		}
	}
	&__price-wrap {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: rem(234);
		padding: rem(20) rem(19);
	}
	&__discount {
		font-size: rem(14);
		line-height: 1.40em;
		background-color: $red;
		padding: rem(1) rem(9);
		color: $white;
		display: inline-block;
		margin-bottom: rem(14);
		align-self: flex-start;
	}
	&__price-col{
		flex-grow: 1;
		@include media-breakpoint-up(md){
			min-width: 107px;
		}
		@include media-breakpoint-up(lg){
			min-width: 128px;
		}
	}
	&__price--old{
		font-size: 12px;
		line-height: 1.40em;
		@include media-breakpoint-up(sm){
			font-size: 14px;
		}
		text-decoration-line: line-through;
		color: $gray-600;
	}
	&__price--new{
		font-size: 14px;
		line-height: 1.25em;
		@include media-breakpoint-up(sm){
			font-size: 24px;
		}
	}
	&__value {
		display: flex;
		justify-content: space-between;
		p {
			margin-bottom: 0;
			font-size: rem(14);
		}
	}
	&__amount-col {
		font-size: rem(14);
	}
	// &:not(:last-child) {
	// 	margin-bottom: rem(20);
	// }
	// @include media-breakpoint-up(md){
	// 	padding: 12px 20px 12px 16px;
	// }
	// @include media-breakpoint-up(xl){
	// 	padding: 12px 20px 12px 16px;
	// }
	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	display: block;
	// 	height: 100%;
	// 	width: calc(100% - 72px);
	// 	right: 0;
	// 	top: 0;
	// 	background-color: $gray-100;
	// 	z-index: -1;
	// 	@include media-breakpoint-up(sm) {
	// 		width: calc(100% - 134px);
	// 	}
	// 	@include media-breakpoint-up(md) {
	// 		width: calc(100% - 120px - 30px);
	// 	}
	// }
	// &__row{
	// 	@include roww(12px);
	// 	@include media-breakpoint-up(sm){
	// 		@include roww(30px);
	// 	}
	// }
	// &__img-col{
	// 	@include media-breakpoint-down(sm){
	// 		align-self: flex-start;
	// 	}
	// 	@include media-breakpoint-down(sm) {
	// 		width: 80px;
	// 	}
	// }
	// &__img{
	// 	// width: 48px;
	// 	// height: 48px;
	// 	@include media-breakpoint-up(sm){
	// 		width: 120px;
	// 		height: 120px;
	// 	}

	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// 	img{
	// 		width: auto;
	// 		height: auto;
	// 		max-width: 100%;
	// 		max-height: 100%;
	// 	}
	// }
	// //
	// &__col-with-row{
	// 	align-self: stretch;
	// }
	// &__inner-row{
	// 	min-height: 100%;
	// }
	// &__txt-col{
	// 	// align-self: stretch;
	// }
	// &__tag{
	// 	display: inline-flex;
	// 	font-weight: bold;
	// 	color: $white;
	// 	background-color: $danger;
	// 	border-radius: 20px;

	// 	// font-size: 8px;
	// 	line-height: (12*0.125);
	// 	padding: 0 4px;
	// 	margin-bottom: 10px;
	// 	@include media-breakpoint-up(sm){
	// 		// font-size: 10px;
	// 		line-height: (12*0.1);
	// 		padding: 4px 7.5px;
	// 		margin-bottom: 16px;
	// 	}

	// 	letter-spacing: 0.1em;
	// 	text-transform: uppercase;
	// }
	// &__code{
	// 	font-size: 10px;
	// 	line-height: (14*0.1);
	// 	margin-bottom: 6px;
	// 	font-weight: 700;
	// 	@include media-breakpoint-up(sm){
	// 		font-size: 16px;
	// 		line-height: math.div(14, 12);
	// 		margin-bottom: 8px;
	// 	}

	// 	color: #4E4E4E;
	// }
	// &__title{
	// 	display: block;

	// 	font-size: 12px;
	// 	line-height: math.div(20, 14);
	// 	margin-bottom: rem(8);
	// 	max-width: rem(325);
	// 	@include media-breakpoint-up(sm){
	// 		font-size: 16px;
	// 		line-height: math.div(20, 14);
	// 	}

	// 	// margin-bottom: 12px;
	// 	// @include media-breakpoint-up(md){
	// 	// 	margin-bottom: 0;
	// 	// }

	// 	color: #4E4E4E;
	// }
	// &__price--old{
	// 	font-size: 14px;
	// 	line-height: math.div(14, 12);
	// 	text-decoration-line: line-through;

	// 	color: $danger;
	// 	margin-bottom: 4px;
	// 	margin-left: 4px;
	// }
	// &__price--new{
	// 	font-size: 20px;
	// 	line-height: math.div(19, 16);
	// 	font-weight: 700;
		
	// }
	// &__amount-col{
	// 	text-align: right;
	// 	margin-right: rem(30);
	// 	// @include media-breakpoint-up(sm){
	// 	// 	min-width: 87px;
	// 	// }
	// 	@include media-breakpoint-up(md){
	// 		min-width: 110px;
	// 	}
	// 	@include media-breakpoint-up(xl){
	// 		min-width: 149px;
	// 	}

	// 	font-size: 16px;
	// 	line-height: math.div(19, 16);
	// }
	// &__{}
	// &__{}
}

