@use "sass:math";

.top-nav {
	
	&__container{
		padding-top: 14px;
		padding-bottom: 14px;
		@include media-breakpoint-up(sm){
			padding-top: 19px;
			padding-bottom: 19px;
		}
		@include media-breakpoint-up(lg){
			padding-top: 0;
			padding-bottom: 0;
		}
		position: relative;
	}
	&__burger-col{
		--burger-bar-col: #{$primary};
	}

	//
	
	&__menu{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		height: 100%;
	}
	
	&__item{
		margin: 0 19px;
		&:last-child{
			margin-right: 0;
		}
		
		--dd-scale: 0;
		--burger-bar-col: #{$primary};
		--link-bef-o: 0;
		&:hover{
			--dd-scale: 1;
			--burger-bar-col: #{$white};
			--link-bef-o: 1;
			& > .top-nav__link{
				color: $white!important;
			}
		}
	}
	&__link{
		padding: 19px 0;
		color: $black;
		

		position: relative;
		z-index: 1;
		&:before{
			@include mt();
			opacity: var(--link-bef-o);
			background-color: $primary;
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% + 24px);
			height: 100%;
		}


		display: flex;
		align-items: center;
	}
	&__search-col{
		align-self: stretch;
		display: flex;
	}
	&__search{
		@include mt();
		&.muted-down-md{
			@include media-breakpoint-down(md){
				padding: 0;
				width: 20px;
				pointer-events: none;
				opacity: 0;
			}
		}
		display: flex;
		align-items: center;

		.icon{
			@include mt();
			font-size: 20px;
			color: $primary;
		}
		@include media-breakpoint-up(md){
			padding: 20px 0px;
		}
		@include media-breakpoint-up(xl){
			padding: 20px 25px;
		}
		--dd-scale: 0;
		&.active{
			--dd-scale: 1;
			@include media-breakpoint-up(xl){
				background-color: $primary;
				color: $white;
				.icon{
					color: $white;
				}
			}
		}

	}
	&__search-txt{
		font-size: 16px;
		line-height: math.div(19, 16);
		margin-left: 10px;
	}
	&__{}
	&__{}
	&__{}
}

.burger{
	cursor: pointer;
	@include mt();
	width: 20px;
	height: 20px;
	position: relative;

	span,
	span:before,
	span:after{
		@include mt();
		position: absolute;
		left: 0;
		display: block;
		content: '';
		width: 20px;
		height: 2px;
		background-color: var(--burger-bar-col, #{$black});
	}

	span{
		top: 50%;
		transform: translateY(-50%);
	}
	span:before{
		top: -5px;
	}
	span:after{
		top: 5px;
	}

	&.active{
		span{
			background-color: transparent;
		}

		span:before{
			top: 0;
			transform: rotate(45deg);
		}
		span:after{
			top: 0;
			transform: rotate(-45deg);
		}
	}
}


// .city-dd{
// 	@include mt();
// 	transform: scaleY(var(--dd-scale));
// 	transform-origin: top center;

// 	overflow-y: auto;
// 	overflow-x: hidden;

// 	background-color: $white;
// 	position: absolute;
// 	z-index: 99;
// 	top: 100%;
// 	left: 15px;
// 	width: calc(100% - 30px);
// 	height: auto;
// 	max-height: calc((var(--vh, 1vh) * 100) - var(--blue-line-h));
// 	//--blue-line-h ==> created by js
// 	border: 1px solid #F1F1F1;
// 	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
// 	padding: 26px 30px 24px;

// 	&__search-row{
// 		& > *{
// 			margin-bottom: 20px;
// 		}

// 		margin-bottom: -20px;
// 		padding-bottom: 38px;
// 	}
// 	&__input-wrap{
// 		label{
// 			display: flex;
// 			align-items: center;
// 		}
// 	}
// 	&__input{

// 	}
// 	&__input-title{
// 		flex-shrink: 0;
// 		font-weight: 300;
// 		line-height: 1.2;
// 		color: $gray-720;

// 		font-size: 20px;
// 		width: 263px;
// 		@include media-breakpoint-up(xl){
// 			font-size: 20px;
// 			width: 263px;
// 		}
// 	}
// 	&__btn{
// 		@extend .btn;
// 		@extend .btn-primary;
// 		color: $white;
// 		min-width: 233px;
// 		@include media-breakpoint-up(xl){
// 			min-width: 233px;
// 		}
// 	}
// 	//
// 	&__cont{
// 		@include media-breakpoint-up(xl) {
// 			columns: 6;
// 		}

// 		@include media-breakpoint-up(lg) {
// 			columns: 5;
// 		}


// 		@include media-breakpoint-up(md) {
// 			columns: 4;
// 		}

// 		ul{
// 			width: 100%;
// 			list-style-type: none;
// 			margin: 0;
// 			padding: 0;

// 			li{
// 				margin-bottom: 8px;
// 				@include media-breakpoint-up(xxl){
// 					margin-bottom: 12px;
// 				}
// 			}

// 			a{
// 				color: $body-color;
// 				&:hover{
// 					color: $primary;
// 				}

// 				font-size: 14px;
// 				line-height: math.div(17, 14);
// 			}

// 		}

// 	}
// 	&__{}
// 	&__{}
// }
// .tell-dd{
// 	@include mt();
// 	transform: scaleY(var(--dd-scale));
// 	transform-origin: top center;

// 	background-color: $white;
// 	box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.2);
// 	position: absolute;
// 	z-index: 99;
// 	top: 100%;
// 	left: 0;
// 	width: 100%;
// 	height: auto;

// 	padding: 3px 12px 12px 12px;

// 	&__link{
// 		display: block;
// 		text-align: center;
// 		margin-bottom: 12px;

// 		font-size: 12px;
// 		line-height: math.div(14, 12);
// 		align-items: center;
// 		letter-spacing: 0.03em;

// 		color: $body-color;
// 		&:hover{
// 			color: $primary;
// 		}
// 	}
// 	&__order-btn{
// 		@extend .btn;
// 		@extend .btn-primary;
// 		color: $white;
// 		width: 100%;
// 		font-size: 12px;
// 		line-height: math.div(14, 12);
// 		padding: 10px 16px;
// 	}
	
// }

// .lc-dd{
// 	@include mt();
// 	transform: scaleY(var(--dd-scale));
// 	transform-origin: top center;

// 	background-color: $white;
// 	position: absolute;
// 	z-index: 99;
// 	top: 100%;
// 	left: 0;
// 	width: 100%;
// 	padding: 16px 12px 12px 12px;
// 	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

// 	&__link{
// 		display: block;
// 		margin-bottom: 12px;

// 		font-size: 12px;
// 		line-height: math.div(14, 12);
// 		align-items: center;
// 		letter-spacing: 0.03em;

// 		color: $body-color;
// 		&:hover{
// 			color: $primary;
// 		}
// 	}
// 	&__log-btn{
// 		@extend .btn;
// 		@extend .btn-primary;
// 		color: $white;
// 		display: flex;
// 		align-items: center;
// 		justify-content: space-between;

// 		width: 100%;
// 		font-size: 12px;
// 		line-height: math.div(14, 12);
// 		padding: 10px 16px;


// 		.icon{
// 			font-size: 15px;

// 		}
// 	}
// }

// .catalog-dd{
// 	@include mt();
// 	color: #4E4E4E;
// 	transform: scaleY(var(--dd-scale));
// 	transform-origin: top center;

// 	position: absolute;
// 	z-index: 99;
// 	background-color: $white;
// 	top: calc(100%);
// 	width: calc(100% - 30px);
// 	left: 15px;
// 	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
// 	height: auto;
// 	text-transform: none;

// 	--list-w: 263px;
// 	&__list{
// 		border-right: 1px solid #F1F1F1;
// 		width: var(--list-w);
// 		min-height: 282px;
// 		list-style: none;
// 		margin: 0;
// 		padding: 0;

// 		& > li{
// 			@include mt();
// 			padding: 16px 20px;

// 			color: $body-color;
// 			border-bottom:  1px solid #F1F1F1;
// 			background-color: transparent;
// 			&:hover{
// 				color: $white;
// 				background-color: $primary;
// 			}

// 			font-size: 14px;
// 			line-height: math.div(17, 14);

// 			--sub-list-scale: 0;
// 			&:hover{
// 				--sub-list-scale: 1;
// 			}
// 		}
// 	}
// 	&__sub-dd{
// 		@include mt();
// 		transform: scaleY(var(--sub-list-scale));
// 		transform-origin: top center;
// 		background-color: $light;
// 		position: absolute;
// 		top: 0;
// 		left: var(--list-w);
// 		width: calc(100% - var(--list-w));
// 		height: 100%;
// 		overflow-y: auto;
// 	}
// 	&__content{
// 		padding: 30px 30px 6px;

// 		columns: 2;
// 		@include media-breakpoint-up(xl) {
// 			columns: 2;
// 		}
// 		a{
// 			display: block;
// 			margin-bottom: 24px;
// 			color: #4E4E4E;
// 			@include mt();
// 			&:hover {
// 				color: $blue;
// 				font-weight: 700;
// 			}
// 		}
// 	}
// 	&__{}
// }

// .search-dd{
// 	color: $body-color;
// 	@include mt();
// 	transform-origin: top center;
// 	transform: scaleY(var(--dd-scale));

// 	overflow-y: auto;
// 	overflow-x: hidden;

// 	background-color: $white;
// 	border: 1px solid $gray-310;
// 	position: absolute;
// 	z-index: 99;
// 	top: 100%;
// 	left: 15px;
// 	width: calc(100% - 30px);
// 	height: auto;
// 	max-height: calc((var(--vh, 1vh) * 100) - var(--top-nav-bot));

// 	padding: 30px 15px;
// 	@include media-breakpoint-up(xl){
// 		padding: 30px 40px;
// 	}
// 	@include media-breakpoint-up(xxl){
// 		padding: 49px 98px;
// 	}

// 	&__row{

// 	}
// 	&__search-row{
// 		@include roww(0);
// 		margin-right: -1px;
// 		margin-bottom: 30px;
// 	}
// 	&__input-wrap{
// 		input{
// 			margin-left: -1px;
// 		}
// 	}
// 	.form-control, .form-select{
// 		padding-top: 15px;
// 		padding-bottom: 15px;
// 		box-shadow: none!important;
// 	}
// 	//
// 	&__categories{

// 	}
// 	&__c-item{
// 		position: relative;
// 		margin-bottom: -1px;
// 		background: $gray-100;
// 		border: 1px solid #D2D2D2;
// 		padding: 15px 18px 15px 21px;
// 		color: #333333;

// 		display: flex;
// 		align-items: center;
// 		justify-content: space-between;

// 		.icon{
// 			margin-left: 10px;
// 			font-size: 12px;
// 			color: transparent;
// 			stroke: $white;
// 			fill: none;
// 			stroke-width: 2px;
// 		}
// 	}
// 	&__icon {
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		height: 100%;
// 		width: 46px;
// 		background-color: $primary;
// 	}
// 	&__c-txt{
// 		font-size: 14px;
// 		line-height: math.div(17, 14);
// 	}
// 	&__items-row{
// 		& > *{
// 			margin-bottom: 30px;
// 		}
// 		margin-bottom: -30px;
// 	}
// 	&__btn{
// 		@extend .btn;
// 		@extend .btn-primary;
// 		min-width: 165px;
// 	}
// }

//mob menu
.mob-menu{
	@include mt();
	position: fixed;
	z-index: 999;
	top: var(--top-nav-bot, 60px);
	height: calc((var(--vh, 1vh) * 100) - var(--top-nav-bot, 60px));
	width: 100%;

	left: -120vw;
	&.active{
		left: 0;
	}

	background-color: $white;
	overflow-y: auto;

	--pad-side: 20px;

	&__search{
		padding: 24px var(--pad-side, 20px);
	}
	&__input-wrap{
		margin-bottom: 12px;
	}
	&__input{
		padding: 14px 20px;
		font-size: 16px;
		line-height: math.div(19, 16);
	}
	&__s-btn{
		@extend .btn;
		@extend .btn-primary;
		padding: 14px 20px;
		width: 100%;

		font-size: 16px;
		line-height: math.div(19, 16);
	}
	&__menu{
		list-style: none;
		padding: 0;
		margin: 0 0 24px;
		border: 1px solid $secondary;
	}
	&__submenu{
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		background-color: $white;

		display: none;
		&.active{
			display: block;
		}
	}
	&__back-link{
		justify-content: flex-start!important;

		.icon{
			margin-right: 10px!important;
			font-size: 14px;
			color: transparent;
			stroke-width: 1.5px;
			stroke: $primary;
		}
		span{
			color: $primary;
		}

	}


	&__item{
		border-bottom: 1px solid $secondary;
		&:last-child{
			border-bottom: none;
		}
		background-color: $light;
	}
	&__link{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px var(--pad-side, 20px);

		color: $body-color;

		&:after{
			flex-shrink: 0;
			margin-left: 10px;
			display: inline-block;
			width: 14px;
			height: 14px;

			background-image: url(../img/svg/green-chevron-right.svg);
			background-repeat: no-repeat;
			background-size: 12px;
			background-position-x: 100%;
			background-position-y: center;
		}
		&--has-dd{
			&:after{
				content: '';
			}
		}

	}
	//dd
	&__dd-items{

	}
	&__dd-item{
		background-color: $white;
		&.active{
			background-color: $light;
		}

		padding: 0 var(--pad-side, 20px);
	}
	&__dd-head{
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 10px 0;

		&.dd-head-js{
			&:after{
				content: '';
			}
		}

		&:after{
			width: 14px;
			height: 14px;
			background-image: url(../img/svg/green-chevron-down.svg);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&__dd-content{
		display: none;
		&.active{
			display: block;
		}
		padding-bottom: 10px;
	}
	//cart
	//&__cart-box{
	//	display: flex;
	//	align-items: center;
	//	justify-content: space-between;
	//}
	&__cart{
		//padding: 6px 0;
		display: flex;
		align-items: flex-end;
		color: $primary;
		&:hover{
			color: rgba($primary, .9);
		}
	}
	
	&__number{
		position: absolute;
		color: $white;
		left: 50%;
		bottom: -2px;
		transform: translateX(-50%);

		font-weight: 500;
		font-size: 12px;
		line-height: math.div(14, 12);
	}
	&__cart-txt{
		font-size: 14px;
		line-height: math.div(20, 14);
		color: $body-color;
	}
	&__cart-price{
		font-size: 20px;
		line-height: 1.2;
		color: $body-color;
	}
	
	&__il-txt{
		font-size: 14px;
		line-height: 1.4;
		color: $body-color;
	}
	&__icon-box{
		width: 28px;
		margin-right: 8px;
		
		display: flex;
		align-items: center;
		justify-content: center;
		.icon-user {
			font-size: 28px;
		}
	}
	&__loc-menu{
		list-style: none;
		padding: 10px 0;
		margin: 0;
		
		li{
			margin-bottom: 10px;
			a{
				display: block;
				font-size: 14px;
				line-height: math.div(17, 14);
				color: $body-color;
				padding-left: 32px;//24 + 8
			}
		}
	}
	//contacts
	&__contacts{
		padding: 15px var(--pad-side, 20px) 35px;
	}
	&__c-item{
		margin-bottom: 20px;
		display: flex;
	}
	&__c-icon{
		flex-shrink: 0;
		width: 18px;
		height: 20px;
		margin-right: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__c-txt{
		font-size: 14px;
		line-height: math.div(20, 14);
		color: $body-color;
		
		a{
			display: block;
			color: $body-color;
		}
	}
	//order-call
	&__oc-cont{
		padding: 5px var(--pad-side, 20px) 24px;
	}
	&__order-call{
		@extend .btn;
		@extend .btn-primary;

		width: 100%;
	}
	
	&__{}
	&__{}
}

.lc-mob{
	padding: 10px 0;
	&__link{
		display: block;
		margin-bottom: 12px;

		font-size: 12px;
		line-height: math.div(14, 12);
		align-items: center;
		letter-spacing: 0.03em;
		
		color: $body-color;
		&:hover{
			color: $primary;
		}
	}
	&__log-btn{
		@extend .btn;
		@extend .btn-primary;
		display: inline-flex;
		align-items: center;
		//justify-content: center;
		
		//width: 100%;
		font-size: 12px;
		line-height: math.div(14, 12);
		padding: 10px 16px;
		
		.icon{
			font-size: 15px;
			margin-right: 10px;
		}
	}
}
.icon-bars {
	fill:$body-color;
	font-size: 20px;
}
.icon-heart {
	stroke-width: 2px;
}