mixin mob-mnu()
	+b.mob-menu--js.d-lg-none
		+e.search.d-md-none
			+input('Поиск', 'text', 0, 'search')
			+e.BUTTON.s-btn(type="button") Искать
		+e.UL.menu
			+e.LI.item
				+e.link--has-dd.has-dd-js Каталог
				+catalogMobMenu()
			+e.LI.item: +e.link(href="#") Оплата и доставка
			+e.LI.item: +e.link(href="#") Сервис
			+e.LI.item: +e.link(href="#") Акции
			+e.LI.item: +e.link(href="#") Контакты
		//-
		+e.dd-items.mob-menu-dd-js
			//-cart
			+e.dd-item
				+e.dd-head(href='#')
					//-+e.cart-box
					+e.cart
						+e.cart-icon
							+icon('cart')
							+e.number 99
						+e.cart-txt Корзина
					+e.cart-price 236 990 ₽
			//-user
			+e.dd-item
				+e.dd-head.dd-head-js
					+e.icon-link--user
						+e.icon-box
							+icon('user')
						+e.il-txt Войти
				+e.dd-content.dd-content-js
					+lcMob()
			//-
			+e.dd-item
				+e.dd-head(href='#')
					+e.icon-link--heart
						+e.icon-box
							+icon('heart')
						+e.il-txt Избранные товары
			//-
			+e.dd-item
				+e.dd-head(href='#')
					+e.icon-link--bars
						+e.icon-box
							+icon('bars')
						+e.il-txt Список сравнения
			//-
			+e.dd-item
				+e.dd-head.dd-head-js
					+e.icon-link--loc
						+e.icon-box
							+icon('location')
						+e.il-txt.text-primary Москва
				+e.dd-content.dd-content-js
					+e.UL.loc-menu
						li: a(href='#') Москва
						li: a(href='#') Санкт-Петербург
						li: a(href='#') Нижний Новгород
						li: a(href='#') Москва
						li: a(href='#') Санкт-Петербург
						li: a(href='#') Нижний Новгород
						li: a(href='#') Москва
						li: a(href='#') Санкт-Петербург
						li: a(href='#') Нижний Новгород
		+e.contacts
			+e.c-item
				+e.c-icon
				+e.c-txt
					| г. Москва
					br
					| ш. Дмитровское, д.62, строение 5, этаж 1
					br
					| помещение X, комната 1
			+e.c-item
				+e.c-icon
					img(loading="lazy" src="img/svg/icon-tel.svg" alt="")
				+e.c-txt
					a(href="tel:84952155063") +7 (495) 109-88-66 (многоканальный)
			+e.c-item
				+e.c-icon
					img(loading="lazy" src="img/svg/icon-mail.svg" alt="")
				//- +e.c-txt
				//- 	a(href="mailto:info@husq.ru") info@husq.ru
			+e.c-item
				+e.c-icon
					img(loading="lazy" src="img/svg/icon-clock.svg" alt="")
				+e.c-txt
					| пн - пт: 09:00 - 20:00
					br
					| сб - вс: 09:00 - 18:00
		+e.oc-cont
			+e.order-call.link-modal(href="#modal-call") Заказать звонок


mixin top-nav() 
	// start top-nav
	+mob-mnu()
	+b.top-nav--js.block-with-lazy
		+e.container.container
			.row.align-items-center
				+e.burger-col.col-auto.d-lg-none
					+b.burger--js
						span
				+e.logo-col.col-auto
					+e.logo(href="#")
						img(loading="lazy" src="img/logo.png" alt="")
				.col.align-self-stretch.d-none.d-lg-block
					+e.UL.menu
						+e.LI.item
							+e.link
								+b.burger
									span
								.ms-10 Каталог
							+catalogDD()
						+e.LI.item: +e.link(href="#") Оплата и доставка
						+e.LI.item: +e.link(href="#") Сервис
						+e.LI.item: +e.link(href="#") Акции
						+e.LI.item: +e.link(href="#") Контакты
				+e.search-col.col-auto
					+e.search.search-btn-js.muted-down-md
						+icon('zoom')
						+e.search-txt.d-none.d-xl-block Поиск
						+searchDD()
					//-dd here
					
	// end top-nav
mixin blueLine()
	+b.blue-line--js.d-none.d-md-block
		+e.container.container
			+e.row.row.align-items-center
				.col-auto.align-self-stretch
					+e.dd-btn--loc
						+icon('location')
						span Москва
						+icon('chevron-down')
						+cityDD()
				.col-auto.me-auto.me-xl-0.align-self-stretch
					+e.dd-btn
						+icon('tel')
						a(href="tel:+74952155063").tel-link 8 495 215-50-63
						+icon('chevron-down')
						+telDD()
				.col-auto.ms-auto.me-auto.d-xl-block.d-none
					+e.shedule
						+e.s-img
							img(loading='lazy' src="img/svg/clock.svg" alt="")
						+e.s-txt
							span пн. - пт. 09:00 - 20:00
							span сб. - вс. 09:00 - 18:00
				.col-auto
					+e.icon-link(href='#')
						+icon('bars')
				.col-auto
					+e.icon-link(href='#')
						+icon('heart')
				.col-auto.align-self-stretch
					+e.dd-btn--lc
						+e.user
							+icon('user')
						span Войти
						+lcDD()
				.col-auto
					+e.cart(href='#')
						+e.cart-icon
							+icon('cart')
							//- +e.number 99
						+e.cart-txt Корзина
mixin cityDD()
	+b.city-dd
		+e.search-row.row
			.col
				+input('', 'text', 'Выбирете свой город', 'city')
			.col-auto
				+e.BUTTON.btn(type="button") Искать
		+e.cont
			ul
				li: +e.link(href="#").text-primary Москва
				li: +e.link(href="#").text-dark Санкт-Петербург
				li: +e.link(href="#").text-dark Нижний Новгород
				li: +e.link(href="#").text-dark Москва
				li: +e.link(href="#").text-dark Нижний Новгород
			ul
				li: a(href="#").text-primary Москва
				- for (var x = 0; x < 20; x++)
					li: +e.link(href="#") Санкт-Петербург
					li: +e.link(href="#") Нижний Новгород
					li: +e.link(href="#") Москва
					li: +e.link(href="#") Нижний Новгород
					li: +e.link(href="#") Москва
mixin telDD()
	+b.tell-dd
		+e.link(href="tel:88003331892") 8 800 333-18-92
		+e.link(href="tel:88003331892") 8 800 333-18-92
		+e.order-btn(href='#') Заказать звонок
mixin lcDD()
	+b.lc-dd
		+e.link(href='#') Мои заказы
		+e.link(href='#') Избранное
		+e.link(href='#') Профиль
		+e.log-btn(href="#")
			+icon('exit')
			span Выйти
mixin lcMob()
	+b.lc-mob
		+e.link(href='#') Мои заказы
		+e.link(href='#') Избранное
		+e.link(href='#') Профиль
		+e.log-btn(href="#")
			+icon('exit')
			span Выйти

mixin catalogDD()
	+b.catalog-dd
		ul.catalog-dd__list
			li
				span Аккумуляторный инструмент
				+catalogSubDD()
			li
				span Сетевой электроинструмент
				+catalogSubDD('11')
			li
				span Садовая техника
				+catalogSubDD('22')
			li
				span Алмазная резка
				+catalogSubDD('33')
			li
				span Ручной инструмент
				+catalogSubDD('44')
			li
				span Аксессуары
				+catalogSubDD('55')

mixin catalogSubDD(diff="")
	+e.sub-dd
		+e.content
			a(href='#')=`Дрели-шуруповерты ${diff}`
			a(href='#') Ударные дрели-шуруповерты
			a(href='#') Ударные шуруповерты
			a(href='#') Ударные гайковерты
			a(href='#') Перфораторы SDS+
			a(href='#') Перфораторы SDS-Max
			a(href='#') Перфораторы SDS-Max
			a(href='#') УШМ
			a(href='#') Пилы
			a(href='#') Многофункциональные устройства
			a(href='#') Отвертка
			a(href='#')=`Дрели-шуруповерты ${diff}`
			a(href='#') Ударные дрели-шуруповерты
			a(href='#') Ударные шуруповерты
			a(href='#') Ударные гайковерты
			a(href='#') Перфораторы SDS+
			a(href='#') Перфораторы SDS-Max
			a(href='#') Перфораторы SDS-Max
			a(href='#') УШМ
			a(href='#') Пилы
			a(href='#') Многофункциональные устройства
			a(href='#') Отвертка

mixin searchDD()
	+b.search-dd--js
		+e.row.row
			.col
				+e.search-row.row
					.col-auto
						+input('Искать везде', 'select', false, 'look-for')
					.col
						+input('', 'text', false, 'txt')
				+e.categories.mb-30
					+e.c-item(href='#')
						+e.c-txt Дрели-шуруповерты
						+e.icon
							+icon('chevron-right')
					+e.c-item(href='#')
						+e.c-txt Ударные дрели-шуруповерты
						+e.icon
							+icon('chevron-right')
			.col-auto
				+e.BUTTON.btn(type="button") Найти
			+e.items-row.row
				.col-sm-6.col-lg-3
					+item-prod('1', false, 'VB3616DA')
						+e.badge.bg-red Новинка
				.col-sm-6.col-lg-3
					+item-prod('1', false, 'VB3616DA')
						+e.badge.bg-red Новинка
				.col-sm-6.col-lg-3
					+item-prod('1', false, 'VB3616DA')
						+e.badge.bg-red Новинка
				.col-sm-6.col-lg-3
					+item-prod('1', false, 'VB3616DA')
						+e.badge.bg-red Новинка


mixin catalogMobMenu()
	+e.submenu.submenu-js
		+e.back-link.mob-menu__link.back-link-js
			+icon('chevron-left')
			span Назад
		ul.mob-menu__menu
			li.mob-menu__item
				span.mob-menu__link.mob-menu__link--has-dd.has-subdd-js Аккумуляторный инструмент
				+catalogMobSubMenu()
			li.mob-menu__item
				span.mob-menu__link.mob-menu__link--has-dd.has-subdd-js Сетевой электроинструмент
				+catalogMobSubMenu('11')
			li.mob-menu__item
				span.mob-menu__link.mob-menu__link--has-dd.has-subdd-js Садовая техника
				+catalogMobSubMenu('22')
			li.mob-menu__item
				span.mob-menu__link.mob-menu__link--has-dd.has-subdd-js Алмазная резка
				+catalogMobSubMenu('33')
			li.mob-menu__item
				span.mob-menu__link.mob-menu__link--has-dd.has-subdd-js Ручной инструмент
				+catalogMobSubMenu('44')
			li.mob-menu__item
				span.mob-menu__link.mob-menu__link--has-dd.has-subdd-js Аксессуары
				+catalogMobSubMenu('55')

mixin catalogMobSubMenu(diff="")
	+e.submenu.sub2menu-js
		+e.back-link.mob-menu__link.back2-link-js
			+icon('chevron-left')
			span Назад
		ul.mob-menu__menu
			li.mob-menu__item: a.mob-menu__link(href='#') Дрели-шуруповерты
			li.mob-menu__item: a.mob-menu__link(href='#') Ударные дрели-шуруповерты
			li.mob-menu__item: a.mob-menu__link(href='#') Ударные шуруповерты
			li.mob-menu__item: a.mob-menu__link(href='#') Ударные гайковерты
			li.mob-menu__item: a.mob-menu__link(href='#') Дрели-шуруповерты
			li.mob-menu__item: a.mob-menu__link(href='#') Ударные дрели-шуруповерты
			li.mob-menu__item: a.mob-menu__link(href='#') Ударные шуруповерты
			li.mob-menu__item: a.mob-menu__link(href='#') Ударные гайковерты
			li.mob-menu__item: a.mob-menu__link(href='#') Дрели-шуруповерты
			li.mob-menu__item: a.mob-menu__link(href='#') Ударные дрели-шуруповерты
			li.mob-menu__item: a.mob-menu__link(href='#') Ударные шуруповерты
			li.mob-menu__item: a.mob-menu__link(href='#') Ударные гайковерты
			li.mob-menu__item: a.mob-menu__link(href='#') Дрели-шуруповерты
			li.mob-menu__item: a.mob-menu__link(href='#') Ударные дрели-шуруповерты
			li.mob-menu__item: a.mob-menu__link(href='#') Ударные шуруповерты
			li.mob-menu__item: a.mob-menu__link(href='#') Ударные гайковерты