include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

mixin arrow(className)
	if className
		.swiper-prev(class=className)
			+icon('swiper-left')
		.swiper-next(class=className)
			+icon('swiper-right')
	else
		.swiper-prev
			+icon('swiper-left')
		.swiper-next
			+icon('swiper-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin page-head(title, logout, icon, descr, ...items)
	+b.page-head&attributes(attributes)
		.container
			+breadcrumb(...items)
		if title
			+e.title-wrap
				+e.container.container
					+e.title
						if icon
							+icon(`${icon}`)
						h1!= title
						if descr
							+e.descr!= descr
					if logout 
						+e.log-out(href='#')
							+icon('exit')
							//- img(loading="lazy" src="img/svg/exit2.svg" alt="")
							span Выйти