// start .sNewsBox
@use "sass:math";

.sNewsBox {
	padding-top: 25px;
	padding-bottom: rem(60);
	.row {
		--bs-gutter-y: 30px;
		margin-bottom: rem(52);
	}
	h2 {
		margin-bottom: rem(24)
	}
	&__item{
		display: flex;
		flex-direction: column;
		color: $body-color;
		&:hover{
			color: $body-color;
			.sNewsBox__title {
				color: $primary;
			}
		}
	}
	&__img-wrap {
		@include block(350,250);
		margin-bottom: 15px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__title {
		margin-bottom: 15px;
		font-size: rem(24);
		line-height: 125%;
		@include mt;
		@include media-breakpoint-down(sm) {
			font-size: rem(18);
		}
	}
	&__descr {
		margin-bottom: rem(30);
		padding-right: 5px;
		line-height: 140%;
		@include media-breakpoint-down(sm) {
			margin-bottom: rem(8);
		}
	}
	&__more {
		font-size: rem(18);
		color: $primary;
		@include media-breakpoint-down(sm) {
			font-size: 14px;
		}
		&::after {
			content: '';
			width: 10px;
			height: 10px;
			display: inline-block;
			border: solid $primary;
			border-width: 0 2px 2px 0;
			transform: rotate(-45deg);
		}
	}
	&__btn-wrap {
		text-align: center;
	}
	&__btn {
		@extend .btn;
		@extend .btn-outline-primary;
		padding-left: 40px;
		padding-right: 40px;
	}
} // end.sNewsBox