mixin sNewsBox(main)
	// start sNewsBox
	+b.SECTION.sNewsBox.section#sNewsBox&attributes(attributes)
		.container
			h2 Новости
			if main
				+e.row.row
					+NewsBoxItem('1', '12.05.2022', 'Всего один CLICK!','Все заказы бытовой техники, оформленные в&nbsp;марте, будут доставлены на&nbsp;первой или второй неделе апреля по&nbsp;ранее согласованной и&nbsp;оплаченной стоимости. Надеемся на&nbsp;ваше понимание!')
					+NewsBoxItem('2','12.05.2022', 'Все данные в одном формате','MeasureOn – приложение для простого документирования поэтажных планов помещений, результатов измерений, фотографий и заметок прямо на рабочей площадке.')
					+NewsBoxItem('3','12.05.2022', 'Созданы для работы по дереву','Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')
				+e.btn-wrap
					+btn('Все статьи')
			else
				+e.row.row
					+NewsBoxItem('1', '12.05.2022', 'Всего один CLICK!','Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')
					+NewsBoxItem('2', '12.05.2022', 'Все данные в одном формате', 'MeasureOn – приложение для простого документирования поэтажных планов помещений, результатов измерений, фотографий и заметок прямо на рабочей площадке.')
					+NewsBoxItem('4', '12.05.2022', 'Созданы для работы по дереву', 'Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')
					+NewsBoxItem('5', '12.05.2022', 'Всего один CLICK!','Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')
					+NewsBoxItem('4', '12.05.2022', 'Все данные в одном формате', 'MeasureOn – приложение для простого документирования поэтажных планов помещений, результатов измерений, фотографий и заметок прямо на рабочей площадке.')
					+NewsBoxItem('6', '12.05.2022', 'Созданы для работы по дереву', 'Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')
					+NewsBoxItem('8', '12.05.2022', 'Всего один CLICK!','Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')
					+NewsBoxItem('7', '12.05.2022', 'Все данные в одном формате', 'MeasureOn – приложение для простого документирования поэтажных планов помещений, результатов измерений, фотографий и заметок прямо на рабочей площадке.')
					+NewsBoxItem('6', '12.05.2022', 'Созданы для работы по дереву', 'Все заказы бытовой техники, оформленные в марте, будут доставлены на первой или второй неделе апреля по ранее согласованной и оплаченной стоимости. Надеемся на ваше понимание!')

	// end sNewsBox

mixin NewsBoxItem(img,date, title,descr)
	.col-12.col-sm-6.col-lg-4
		+e.item(href="#")
			+e.img-wrap
				img(loading="lazy" src=`img/@2x/news-${img}.jpg` alt="")
			+e.date=date
			+e.title!= title
			+e.descr!= descr
			+e.more Читать