mixin sCompare(data)
	// start sCompare
	+b.SECTION.sCompare.section#sCompare&attributes(attributes)
		.container
			+e.row.row
				+e.title-col
					//- +e.t-header
					+e.t-slide-spacer
						h4 Товары
						//- img(src="img/@2x/order-logo.png" alt="logo")
					//- +in-c('checkbox', 'Показать только различия')
					+e.t-header--indent.h4 Двигатель
					+e.t-table--center
						+e.t-item HUS Usage
						+e.t-item Рабочий объем двигателя
						+e.t-item Рабочий объем цилиндра
						+e.t-item Номинальная мощность
					+e.t-header.h4 Трансмиссия
					+e.t-table
						+e.t-item HUS Usage
						+e.t-item Рабочий объем двигателя
						+e.t-item Рабочий объем цилиндра
						+e.t-item Номинальная мощность
				+e.slider-col.col-md-8.col-lg-9.ms-auto
					+e.slider-wrap
						.swiper.sCompare-slider-js
							.swiper-wrapper
								+sCompareSlide('true', tag, code, 'Аккумуляторная угловая')
								+sCompareSlide()
								+sCompareSlide()
								+sCompareSlide()
						+arrow('d-none d-md-flex')
	// end sCompare

mixin sCompareSlide(active, tag=false, code='GBH 36 V-LI PLUS',name='Аккумуляторная угловая шлифмашина с X-LOCK')
	.swiper-slide
		+e.item
			+e.img(href="#")
				img(loading="lazy" src=`img/@2x/compare-img-1.png` alt="")
				if tag
					+e.tag Новинка
			if active
				+e.links
					+e.compare.active(href="#")
						+icon('bars')
					+e.bookmarks.active(href="#")
						+icon('star')
			else
				+e.links
					+e.compare(href="#")
						+icon('bars')
					+e.bookmarks(href="#")
						+icon('star')
			+e.wrap
				+e.code=code
				+e.name(href='#')=name
				+e.price-bl
					+e.price--new 16 500 ₽
					+e.price--old 18 500 ₽
					+e.discount -10%
				+e.btn(href='#') Купить
		+e.content
			if block
				block
			else
				+e.s-table
					+e.s-item Occasional use
					+e.s-item 21.7 см³
					+e.s-item 1.3 куб. дюйм
					+e.s-item 0.6 кВт
				+e.s-table
					+e.s-item Occasional use
					+e.s-item 21.7 см³
					+e.s-item 1.3 куб. дюйм
					+e.s-item 0.6 кВт
