// start .sCompare
@use "sass:math";

.sCompare {

	//
	// --sTPB: 24px;

	--sPT: 0;
	--sPB: 12px;
	@include media-breakpoint-up(md){
		--sPT: 0;
		--sPB: 72px;
	}
	@include media-breakpoint-up(xl){
		--sPB: 120px;
	}

	&__row{
		@include roww(0);
		position: relative;
		@include media-breakpoint-down(md) {
			margin-bottom: 30px;
		}
	}
	&__title-col{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include media-breakpoint-up(lg) {
			justify-content: flex-end;
		}
		@include media-breakpoint-down(md) {
			justify-content: flex-end;
		}
	}
	&__t-header{
		width: 100%;
		// border-top: 1px solid #D2D2D2;
		@include media-breakpoint-up(md) {
			margin-bottom: 15px;
			// margin-top: 48px;
			padding-top: 15px;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: 15px;
			margin-top: 38px;
			padding-top: 18px;
		}
		&--indent {
			@include media-breakpoint-up(md) {
				margin-top: 0;
			}
			@include media-breakpoint-down(md) {
				margin-top: 0;
			}
		}
	}
	&__t-slide-spacer{
		display: none;
		// background-image: linear-gradient(135deg, #20A5B6 0%, #00869A 100%);
		@include media-breakpoint-up(md){
			// align-items: center;
			// justify-content: center;
			display: flex;
			margin-bottom: 0;
			flex-grow: 0;
			height: 100%;
			width: 33.33%;
			// border: 1px solid $secondary;
		}
		@include media-breakpoint-up(lg) {
			width: 23%;
		}
		// img {
		// 	width: 88%;
		// }
		h3 {
			font-size: rem(24);
		}
	}
	//t-table
	&__t-table{
    width: 100%;
	}
	&__t-item{
		color: #949494;
		align-items: flex-end;
		@include media-breakpoint-up(md){
			align-items: center;
			color: $body-color;
			margin-bottom: 0;
			
			&:nth-child(2n+1) {
				background-color: $gray-310;
			}
		}

		display: flex;
		font-size: 14px;
		line-height: math.div(17, 14);

		@include media-breakpoint-up(md) {
			padding: 11px 0 11px 14px;
			&:not(:first-child){
				// margin-top: 15px;
			}
		}
		@include media-breakpoint-down(md) {
			&:not(:first-child){
				margin-top: 30px;
			}
		}
	}
	&__content{
		width: 100%;
		@include media-breakpoint-up(md){
			margin-top: 69px;
		}
		@include media-breakpoint-down(md){
			margin-top: 69px;
		}
	}
	&__s-table{
		width: 100%;
		@include media-breakpoint-up(md){
			&:not(:last-child) {
				margin-bottom: 63px;
			}
		}
		@include media-breakpoint-down(md){
			&:not(:first-child) {
				margin-top: 126px;
			}
		}
		@include media-breakpoint-down(md) {
			margin-bottom: -20px;
		}
	}
	&__s-item{
		@include media-breakpoint-down(lg) {
			
		}
		@include media-breakpoint-down(md) {
			&:not(:first-child) {
				margin-top: 28.2px;
			}
		}
		@include media-breakpoint-up(md){
			padding: 11px 0 11px 14px;
			&:nth-child(2n + 1) {
				background-color: $gray-310;
			}
			&:not(:first-child) {
				// margin-top: 15px;
			}
			justify-content: flex-start;
		}
		
		
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		line-height: math.div(17, 14);
		.icon {
			font-size: rem(24);
		}
	}
	//
	&__{}

	//
	&__slider-col{
		h3 {
			color: #282828;
			margin-bottom: 0;
			background-color: $gray-100;
			padding: rem(10) rem(30);
			margin-bottom: rem(20);
		}
	}
	&__slider-wrap{
		position: relative;

		.swiper{
			@include media-breakpoint-down(md){
				overflow: visible!important;
			}
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			height: auto;

			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			width: 160px;
			@include media-breakpoint-up(xsm){
				width: calc(100% / 2);
			}
			@include media-breakpoint-up(lg){
				width: calc(100% / 3);
			}
			@include media-breakpoint-down(sm){
				width: calc(100% / 2) !important;
			}
		}

		//prev, next
		.swiper-prev,
		.swiper-next{
			top: 215px;
			@include media-breakpoint-up(lg){
				// top: 219px;
			}
			.icon {
				stroke-width: 1px;
			}
		}
		.swiper-prev {
			left: -4.2%;
			@include media-breakpoint-down(lg) {
				left: 12px;
			}
		}
		.swiper-next {
			right: -4.2%;
			@include media-breakpoint-down(lg) {
				right: 12px;
			}
		}
		.swiper-button-disabled {
			opacity: 0;
			pointer-events: none;
		}
	}
	&__item{
		width: 100%;
		border: 1px solid $secondary;


		margin-bottom: 24px;
		// height: var(--slide-i-h, 360px);
		@include media-breakpoint-up(md){
			margin-bottom: 0;
			flex-grow: 1;
			height: auto;
		}


		display: flex;
		flex-direction: column;

	}
	&__wrap {
		// background-color: $gray-100;
		padding: 15px 20px 20px;
		text-align: left;
		flex-grow: 1;
		@include media-breakpoint-up(xsm){
			// padding: 20px;
		}
		@include media-breakpoint-down(sm){
			// padding: 24px;
			padding: 15px 10px 20px;
		}
	}
	&__img{
		display: flex;
		align-items: flex-end;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		// margin-top: auto;
    // margin-bottom: auto;
		position: relative;

		// width: 130px;
		height: 100px;
		padding: 0 rem(20);
		// margin-bottom: 20px;
		@include media-breakpoint-up(md){
			height: 224px;
			// width: 261px
			// margin-bottom: 32px;
		}
		// @include media-breakpoint-up(md){
		// 	width: 216px;
		// 	height: 216px;
		// }

		img{
			width: auto;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
	&__tag{
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		display: block;
		background: $danger;
		color: $white;
		border-radius: 20px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-weight: bold;

		font-size: 8px;
		line-height: (12*0.125);
		padding: 0px 4px;
		margin-bottom: 4px;
		@include media-breakpoint-up(sm){
			font-size: 10px;
			line-height: (12*0.1);
			padding: 4px 7.5px;
			margin-bottom: 24px;
		}
	}
	&__code{
		// color: $gray-570;
		margin-bottom: 8px;
		
		font-size: 16px;
		color: $blue;
		@include media-breakpoint-up(sm){
			margin-bottom: 0;
			// font-size: 12px;
			// line-height: math.div(14, 12);
		}
	}
	&__name{
		display: block;

		font-size: 12px;
		line-height: 1.40em;
		margin-bottom: rem(9);
		padding-bottom: rem(14);
		color: #000;
		border-bottom: 1px solid $gray-400;
		@include media-breakpoint-up(sm){
			font-size: 14px;
			// font-size: 14px;
			// line-height: math.div(20, 18);
			// margin-bottom: 12px;
		}
	}
	&__price-bl{
		position: relative;
		margin-top: auto;
		margin-bottom: 10px;
		// min-height: 39px;
		display: flex;
		// align-items: center;
		flex-direction: column;
		@include media-breakpoint-down(md) {
			// align-items: flex-start;
		}
	}
	&__discount {
		color: $white;
		background-color: $red;
		padding: 2px 10px;
		font-size: rem(14);
		text-align: center;
		@include media-breakpoint-up(sm) {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	&__price--old{
		font-size: 14px;
		line-height: 1.40em;
		text-decoration-line: line-through;
		color: $gray-600;
		margin-bottom: 10px;
		// margin-right: rem(5);
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
		}
	}
	&__price--new{
		// font-weight: 700;
		// margin-top: auto;
		font-size: 20px;
		margin-bottom: 0;
		line-height: 1.25em;
		@include media-breakpoint-up(sm) {
			font-size: 24px;
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		width: 100%;
	}
	&__links {
		position: absolute;
		right: 10px;
		top: 5px;
		@include media-breakpoint-up(lg){
			top: 14px;
		}
		@include media-breakpoint-up(md){
			right: 23px;
			top: 5px;
		}
		.icon {
			font-size: 19px;
			@include mt;
			color: transparent;
		}
		// .icon-bars {
		// 	// fill:#949494;
		// 	fill:none;
		// 	stroke-width: 1px;
		// 	stroke: $blue;
		// }
		// .icon-heart {
		// 	fill: none;
		// 	stroke: #949494;
		// }
	}
	
	&__compare {
		margin-right: 16px;
		.icon {
			fill: none;
			stroke: $blue;
			stroke-width: 1px;
		}
		&:hover, &.active {
			.icon {
				fill: $blue;
			}
		}
	}
	&__bookmarks {
		fill: none;
		stroke: $gray-600;
		&:hover, &.active {
			.icon {
				fill: $gray-600;
			}
		}
	}

	.custom-input {
		margin: unset;
		padding-top: 44px !important;
    padding-bottom: 44px !important;
    padding-left: 0;
		z-index: 3;
		@include media-breakpoint-up(md) {
			padding-top: 40px !important;
		}
		&__input {
			clip: unset;
			width: 18px;
			height: 18px;
			opacity: 1;
		}
		&__text {
			padding-left: 1.8rem;
		}
	}

} // end.sCompare