// start .sCart
@use "sass:math";

.sCart {
	--sTPB: 24px;

	--sPT: 12px;
	--sPB: 60px;
	@include media-breakpoint-up(md){
		--sPT: 24px;
		--sPB: 72px;
	}
	@include media-breakpoint-up(xl){
		--sPB: 120px;
	}

	.section-title{
		@include media-breakpoint-down(md){
			margin-bottom: 20px;
		}
		h2{
			@include media-breakpoint-down(md){
				padding-bottom: 11px;
			}
		}
	}
	&__main-row{
		& > *{
			margin-bottom: 35px;
		}
		margin-bottom: -35px;
		@include media-breakpoint-up(md){
			& > *{
				margin-bottom: 30px;
			}
			margin-bottom: -30px;
		}

	}
	&__item{
		// background-color: $gray-100; 
		margin-bottom: 60px;
		// padding: 4px 12px 25px;
		// @include media-breakpoint-up(md){
			// 	// margin-bottom: 20px;
			// 	padding: 10px 24px 16px;
		// }
		border: 1px solid $gray-310;
		@include media-breakpoint-down(md) {
		}
		&:last-child{
			margin-bottom: 40px;
			@include media-breakpoint-up(md){
				margin-bottom: 0;
			}
		}
		@include media-breakpoint-up(lg){
			margin-bottom: 30px;
		}
		position: relative;
	}
	&__row{
		align-items: center;
		@include roww(20px);
		@include media-breakpoint-up(sm){
			@include roww(30px);
		}
	}
	&__cross{
		// @extend .btn;
		// @extend .btn-outline-secondary;
		&:hover{
			// background-color: $danger!important;
			// border-color: $danger!important;
			.icon{
				opacity: .5;
				stroke: $primary;
			}
		}
		position: absolute;
		z-index: 1;
		top: -1px;
		right: -1px;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 36px;
		height: 36px;
		padding: 0;

		.icon{
			@include mt;
			font-size: rem(24);
			stroke: $black;
			stroke-width: 2px;
			fill: none;
		}

	}
	&__img{
		width: 138px;
		height: 100%;
		align-self: center;
		// @media (min-width: 360px) {
		// 	width: 138px;
		// 	height: 138px;
		// }
		@include media-breakpoint-up(sm){
			width: 120px;
			// height: 120px;
		}
		@include media-breakpoint-up(md){
			// margin-right: 20px;
		}
		@include media-breakpoint-up(lg){
			margin-right: 0;
			padding: 20px;
			min-width: 184px;
			height: 100%;
		}
		@include media-breakpoint-up(xl){
			// margin-right: 20px;
		}

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__inner-row{
		align-items: center;
		@include media-breakpoint-between(lg, xl){
			@include roww(20px);
		}
	}
	&__txt-col{
		@include media-breakpoint-up(xl){
			// align-self: flex-start;
		}

		margin-bottom: 10px;
		@include media-breakpoint-up(md){
			margin-bottom: 0;
		}
	}
	&__tag{
		position: absolute;
		top: 0;
		left: 20px;
		z-index: 3;
		display: inline-flex;
		background: $danger;
		// border-radius: 20px;

		font-weight: bold;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $white;

		margin-bottom: 20px;
		padding: 0px 7.5px;
		font-size: 8px;
		line-height: (12*0.125);
		@include media-breakpoint-up(md){
			margin-bottom: 16px;
			padding: 4px 8px;
			font-size: 10px;
			line-height: (12*0.1);
		}
	}
	&__code{
		font-size: 10px;
		// margin-bottom: 10px;
		font-family: "HelveticaNeue";
		font-weight: 700;
		@include media-breakpoint-up(md){
			font-size: 16px;
			// margin-bottom: 8px;
		}
		line-height: math.div(14, 12);
		color: #4E4E4E;
	}
	&__title{
		font-size: 12px;
		line-height: math.div(20.5, 14);
		margin-bottom: rem(8);
		color: #4E4E4E;
		max-width: 93%;
		@include media-breakpoint-up(sm){
			font-size: 16px;
			line-height: math.div(20.5, 14);
		}

		display: block;
		// color: $primary;
	}
	&__inp-col{
		@include media-breakpoint-down(md){
			position: absolute;
			top: 100%;
			left: -1px;
			width: calc(100% + 2px) !important;
			max-width: calc(100% + 2px) !important;
			// padding: 0!important;
			padding: rem(3) rem(6);
			background: #f1f1f1;
			border: 1px solid $gray-310;
			border-top: none;
		}
		@include media-breakpoint-up(md){
			margin-right: 21px;
		}
		@include media-breakpoint-up(lg){
			margin-right: 0;
		}
		@include media-breakpoint-up(xl){
			margin-right: 40px;
		}
	}
	&__inputs{

		@include media-breakpoint-up(md){
			width: 112px;
		}
		// @include media-breakpoint-up(lg){
		// 	width: 150px;
		// }
		// @include media-breakpoint-up(xl){
		// 	width: 112px;
		// }

		display: flex;
		align-items: flex-start;
	}
	&__i-btn{
		flex-shrink: 0;
		width: 36px;
		height: 36px;
		padding: 0;

		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		font-size: 18px;
		border-radius: 50%;
		color: $primary;

		@extend .btn;
		@extend .btn-outline-secondary;

		background-color: $white!important;
		border-color: transparent!important;
		// color: $black!important;
		&:hover{
			position: relative;
			z-index: 1;
			background-color: $primary!important;
			border-color:$primary!important;
			color: $white!important;
		}
		&:active{
			color: $white!important;
			background-color: $primary!important;
		}

		&--min{
			margin-right: -1px;
		}
		&--plus{
			margin-left: -1px;
		}
	}
	&__amount-input{
		flex-grow: 1;
		text-align: center;
		width: 40px;
		background-color: transparent;
		border: none;
		padding: 0;
    align-self: center;
	}
	&__price-col{
		@include media-breakpoint-up(md){
			min-width: 107px;
		}
		@include media-breakpoint-up(lg){
			min-width: 128px;
		}
	}
	&__price--old{
		font-size: 12px;
		line-height: (12*0.1);
		@include media-breakpoint-up(sm){
			font-size: 14px;
			line-height: math.div(14, 12);
		}
		text-decoration-line: line-through;
		color: $danger;
		margin-bottom: 4px;
		margin-left: 5px;
	}
	&__price--new{
		font-size: 14px;
		line-height: math.div(19, 16);
		font-family: "HelveticaNeue";
		font-weight: 700;
		@include media-breakpoint-up(sm){
			font-size: 20px;
			line-height: math.div(19, 16);
		}
	}
	//box
	//box
	&__box{
		// border-top: 4px solid $primary;
		background-color: $gray-100;
		padding: 18px 20px 18px;
		margin-bottom: rem(30);
		// @include media-breakpoint-up(md){
		// 	padding: 30px 30px 24px;
		// }
	}
	&__order-txt{
		// font-weight: 700;
		// font-size: rem(24);
		line-height: 1.25em;
		color: $body-color;
		margin-bottom: 28px;
	}
	&__o-rows{
		padding-bottom: 13px;
	}
	&__o-row{
		@include roww(10px);
		font-weight: 400;

		font-size: 16px;
		line-height: math.div(26, 16);
		&--result{
			margin-bottom: 14px;
			align-items: center;
		}
	}
	&__result{
		font-weight: 400;
		font-size: 16px;
		line-height: 1.6;
		font-weight: 400;
		&--2 {
			font-size: 24px;
		}
	}
	//promo
	&__promo{
		display: flex;
		margin-bottom: 14px;
		position: relative;
	}
	&__input-wrap{
		flex-grow: 1;
	}
	&__input{
		padding: 11px 15px;
		// font-weight: 300;

		font-size: 16px;
		line-height: math.div(26, 16);
		border-color: $gray-400;
	}
	&__p-btn{
		@extend .btn;
		background-color: $white!important;
		color: $gray-600!important;
		border-color: transparent;
		&:hover{
			background-color: $primary!important;
			color: $white!important;
		}

		position: absolute;
		top: 1px;
		right: 1px;

		flex-shrink: 0;
		width: 49px;
		height: 48px;
		padding: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			font-size: 14px;
		}
	}
	&__btns-box{
		& > *{
			margin-bottom: 15px;
		}
		& > *:last-child{
			margin-bottom: 0;
		}
		padding-bottom: 30px;
		margin-bottom: 5px;
		border-bottom: 1px solid $gray-400;
	}
	&__bb-btn{
		display: block;
		&--green{
			@extend .btn;
			@extend .btn-primary;
		}
		&--white{
			@extend .btn;
			@extend .btn-outline-primary;

			background-color: $white!important;
			color: $primary!important;
			&:hover{
				background-color: $cyan!important;
				color: $white!important;
			}
		}
	}
	&__sm{
		// @include media-breakpoint-down(md){
		// 	max-width: 210px;
		// }
		@include media-breakpoint-up(lg){
			max-width: 300px;
		}
		font-size: 12px;
		line-height: 1.4;
		margin: 0 auto;
		letter-spacing: 0.03em;
		color: #4E4E4E;
	}
	&__{}
	&__{}
	&__wrap{
		display: flex;
	}
	&__content {
		padding: 4px 12px 25px;
		background: #F1F1F1;
		display: flex;
		align-items: center;
		@include media-breakpoint-up(md){
			// margin-bottom: 20px;
			padding: 10px 24px 16px;
		}
		@include media-breakpoint-down(md) {
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
		}
	}
	&__delivery-wrap {
		max-width: rem(320);
		margin-left: auto;
		margin-right: auto;
		&>p {
			font-size: rem(12);
		}
		p {
			margin-bottom: 0;
		}
	}
	&__headline {
		display: flex;
		align-items: center;
		margin-bottom: rem(5);
		.icon {
			font-size: rem(17);
			margin-right: rem(8);
			color: #0A9C5C;
		}
	}
	&__delivery-price {
		color: #0A9C5C;
		margin-left: auto;
	}
} // end.sCart