mixin sCart(data)
	// start sCart
	+b.sCart.section#sCart&attributes(attributes)
		+e.container.container
			//- block
			//- +b.section-title.light.long
			//- 	h2 Корзина
			+e.main-row.row
				.col-lg-8
					+cartItem()
					+cartItem()
					+cartItem()
				+e.col-order.col-lg-4
					+e.box
						+e.order-txt.h4 Ваш заказ
						+e.o-rows
							+orderRow('Товары', '3 шт.')
							+orderRow('Вес', '37 кг')
							+orderRow('Скидка', '-12 568 ₽', 'text-danger')
						+e.promo
							+input('Промокод', 'text', false, 'promo')
							+e.p-btn(type='button')
								+icon('enter')
						+e.promo
							+input('Промокод', 'text', false, 'promo')(value="Freetrimer2020").is-invalid
							//- +e.p-btn(type='button')
							//- 	+icon('check')
						+e.promo
							+input('Промокод', 'text', false, 'promo')(value="Freetrimer2020").is-valid
							//- +e.p-btn(type='button')
							//- 	+icon('cross')
						+e.o-row--result.row
							+e.result.col ИТОГО
							+e.result--2.col-auto 24 600 ₽
						+e.btns-box
							+e.bb-btn--green(href="#") Оформить
							+e.bb-btn--white(href='#') Запросить счёт
						+e.sm Доступные способы и время доставки можно выбрать при оформлении заказа
					+e.delivery-wrap
						+e.headline
							+icon('car')
							p Бесплатная доставка
							+e.delivery-price 0 ₽
						p Только для отправки в регионы России до пунктов выдачи ТК DPD (Акция не распространяется на г.Норильск, города и другие населенные пункты республики Якутия(Саха) и Чукотского АО)
	// end sCart
mixin orderRow(name,val,addClasses='')
	+e.o-row.row
		.col(class=addClasses)=name
		.col-auto(class=addClasses)=val

mixin cartItem()
	+e.item
		+e.cross(href='#')
			+icon('delete')
		+e.img
			+e.tag Новинка
			img(loading="lazy" src='img/@2x/category-7.png' alt="")
		+e.info-wrap
			+e.product-head
				a(href="#") GBH 36 V-LI PLUS
				p Клеевой пистолет
			+e.product-body
				+e.product-feature
					+e.feature-title Страна производства
					+e.feature-text Швеция
				+e.product-feature
					+e.feature-title Габариты в упаковке (мм)
					+e.feature-text 305 x 520 x 610
				+e.product-feature
					+e.feature-title Вес
					+e.feature-text 19.2кг
		+e.price-wrap
			+e.discount -10%
			+e.price-col
				+e.price--new 24 600 ₽
				+e.price--old 28 400 ₽
			+e.inputs
				+e.i-btn--min -
				+e.INPUT.amount-input.form-control(type="number" value="1")
				+e.i-btn--plus +
			

	//- +e.item
	//- 	+e.wrap
	//- 		+e.img
	//- 			img(loading="lazy" src='img/@2x/category-7.png' alt="")
	//- 		+e.content
	//- 			+e.txt-col
	//- 				+e.title(href="#") GBH 36 V-LI PLUS
	//- 				+e.code Клеевой пистолет
	//- 			+e.inp-col