mixin sPromotion(data)
	// start sPromotion
	+b.SECTION.sPromotion.section#sPromotion&attributes(attributes)
		.container
			+e.slider--js.swiper
				.swiper-wrapper
					+e.slide.swiper-slide
						+e.img
							+img('img/@2x/promotion-img-1.jpg')
						+e.content
							.h2 Доверяйте ремонт техники только профессионалам Bosch
							p Все заказы бытовой техники, оформленные в&nbsp;марте, будут доставлены на&nbsp;первой или второй неделе апреля по&nbsp;ранее согласованной и&nbsp;оплаченной стоимости. Надеемся на&nbsp;ваше понимание!
						.timer
							+icon('clock')
							.timer__items
								.timer__item.timer__days 00
								.timer__item.timer__hours 00
								.timer__item.timer__minutes 00
								.timer__item.timer__seconds 00
					-for(i=0;i<5;i++)
						+e.slide.swiper-slide
							+e.img
								+img('img/@2x/promotion-img-1.jpg')
							+e.content
								.h2 Доверяйте ремонт техники только профессионалам Bosch
								p Все заказы бытовой техники, оформленные в&nbsp;марте, будут доставлены на&nbsp;первой или второй неделе апреля по&nbsp;ранее согласованной и&nbsp;оплаченной стоимости. Надеемся на&nbsp;ваше понимание!
				+arrow()
				.swiper-pagination
	// end sPromotion