// start .sPromotion
.sPromotion {
	--sPT: 0;
	--sPB: #{rem(45)};
	position: relative;
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(90)};
	}
	&__row {
		--bs-gutter-y: #{rem(30)};
	}
	&__slider {
		overflow: visible;
		position: relative;
		padding-bottom: rem(46);
		margin-bottom: rem(60);
		@include media-breakpoint-down(md) {
			margin-left: -20px;
			margin-right: -20px;
		}
		&:before, &::after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-color: #fff;
			top: 0;
		}
		&:before {
			left: -100%;
			z-index: 2;
		}
		&:after {
			right: -100%;
			z-index: 2;
		}
	}
	&__slide {
		position: relative;
	}
	.swiper {
		&-next, &-prev {
			z-index: 3;
			top: calc(50% - 23px);
			@include media-breakpoint-down(lg) {
				opacity: 0;
				pointer-events: none;
			}
		}
	}
	&__img {
		@include block(1108, 440);
		@include media-breakpoint-down(lg) { 
			--ratio: 0.49711;
		}
		@include media-breakpoint-down(md) { 
			--ratio: 0.89711;
		}
		@include media-breakpoint-down(sm) {
			--ratio: 1.5;
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
			left: 0;
			top: 0;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include media-breakpoint-down(md) {
				object-position: 77%;
			}
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		color: $white;
		max-width: rem(646);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		padding: rem(20) rem(20) 0 rem(20);
		@include media-breakpoint-up(md) {
			padding: rem(40) rem(40) 0 rem(40);
		}
		.h2 {
			margin-bottom: rem(28);
			line-height: 1.26em;
			@include media-breakpoint-up(md) {

			}
		}
		p {
			margin-bottom: 0;
			flex-grow: 1;
			line-height: 1.40em;
			@include media-breakpoint-up(md) {
				
			}
		}
	}
	.swiper-pagination {
		position: absolute;
		bottom: 0;
		z-index: 3;
		&-bullet {
			position: relative;
			width: 16px;
			height: 16px;
			&:after {
				content: '';
				width: 8px;
				height: 8px;
				background-color: $gray-600 !important;
				@include a-cent;
				border-radius: 50%;
			}
			&:before {
				@include mt;
				border: 1px solid transparent;
				content: '';
				width: 16px;
				height: 16px;
				@include a-cent;
				border-radius: 50%;
			}
			&-active {
				background-color: $blue !important;
				&:after {
					background-color: $blue !important;
				}
				& + .swiper-pagination-bullet {
				}
			}
			&:hover {
				&:before {
					border-color: $gray-600 !important;
				}
			}
		}
	}
	.timer {
		position: absolute;
		bottom: 40px;
		left: 40px;
		color: $white;
		display: flex;
		align-items: center;
		.icon {
			font-size: rem(48);
		}
		@include media-breakpoint-down(sm) {
			.icon {
				font-size: rem(27);
			}
		}
	}
	.timer__items {
		display: flex;
		font-size: 40px;
		@include media-breakpoint-down(sm) {
			font-size: 28px;
		}
	}
	.timer__item {
		position: relative;
		min-width: 60px;
		margin-left: 10px;
		margin-right: 10px;
		padding-bottom: 15px;
		text-align: center;
		@include media-breakpoint-down(sm) {
			min-width: 21px;
			margin-left: 15px;
			margin-right: 5px;
		}
	}
	.timer__item::before {
		content: attr(data-title);
		display: block;
		position: absolute;
		left: 10px;
		bottom: 0;
		// transform: translateX(-50%);
		font-size: 14px;
		@include media-breakpoint-down(sm) {
			font-size: 12px;
			left: 1px;
		}
	}
	.timer__item:not(:last-child)::after {
		content: ':';
		position: absolute;
		right: -15px;
		top: -6px;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPromotion