mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			+e.row.row
				.col-lg-8
					h1 Позаботьтесь о&nbsp;тепле и&nbsp;безопасности с&nbsp;принадлежностями для работы с&nbsp;цепной пилой
					+e.baner
						.img-wrap-center
							img(loading="lazy" src="img/@2x/artical-2.jpg" alt="")
					//- +e.date 11 Декабря, 2019
					+e.content
						p В&nbsp;разных странах действуют различные правила и&nbsp;нормативы касательно защитной одежды и&nbsp;оборудования. Но&nbsp;дело даже не&nbsp;в&nbsp;соблюдении стандартов и&nbsp;норм. Ради собственной безопасности при работе с&nbsp;цепной пилой не&nbsp;забывайте о&nbsp;следующих средствах защиты.
						p Газонокосилка бензиновая Husqvarna LC140 9676367-01 используется для кошения травы. Имеет вместительный контейнер. Бензиновый двигатель Briggs&amp;Stratton 450 series обеспечивает длительный срок службы машины. Колеса на&nbsp;шарикоподшипниках отличаются высокой плавностью хода. Складная рукоятка обеспечивает удобство хранения и&nbsp;транспортировки косилки. Центральная регулировка высоты скашивания варьируется от&nbsp;25&nbsp;до&nbsp;75&nbsp;мм
						p В&nbsp;разных странах действуют различные правила и&nbsp;нормативы касательно защитной одежды и&nbsp;оборудования. Но&nbsp;дело даже не&nbsp;в&nbsp;соблюдении стандартов и&nbsp;норм. Ради собственной безопасности при работе с&nbsp;цепной пилой не&nbsp;забывайте о&nbsp;следующих средствах защиты.
						p Газонокосилка бензиновая Husqvarna LC140 9676367-01 используется для кошения травы. Имеет вместительный контейнер. Бензиновый двигатель Briggs&amp;Stratton 450 series обеспечивает длительный срок службы машины. Колеса на&nbsp;шарикоподшипниках отличаются высокой плавностью хода. Складная рукоятка обеспечивает удобство хранения и&nbsp;транспортировки косилки. Центральная регулировка высоты скашивания варьируется от&nbsp;25&nbsp;до&nbsp;75&nbsp;мм
					+e.back(href="#")
						+icon('back')
						| Назад
				.col-lg-4
					+e.box
						+e.headline
							p Новости
							a(href="#") Все новости
								+icon('chevron-right')
						+oAtrcBoxItem('12.05.2022', 'Все данные в одном формате')
						+oAtrcBoxItem('12.05.2022', 'Созданы для работы по дереву')
						+oAtrcBoxItem('12.05.2022', 'Всего один CLICK!')
				.col-lg-9
					+sCatalogFromArticle()

	// end sArticle

mixin oAtrcBoxItem(date, txt)
	+e.b-item(href="#")
		+e.b-date=date
		+e.b-txt=txt
		+e.ball
			span Читать
			+icon('chevron-right')
