mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			+e.row.row
				.col-lg-8
					+e.baner
						img(loading="lazy" src="img/@2x/article-img.jpg" alt="")
					+e.date 11 Декабря, 2019
					+e.content
						h2 Позаботьтесь о тепле и безопасности с принадлежностями для работы с цепной пилой
						p В разных странах действуют различные правила и нормативы касательно защитной одежды и оборудования. Но дело даже не в соблюдении стандартов и норм. Ради собственной безопасности при работе с цепной пилой не забывайте о следующих средствах защиты.
						p Газонокосилка бензиновая Husqvarna LC140 9676367-01 используется для кошения травы. Имеет вместительный контейнер. Бензиновый двигатель Briggs&Stratton 450 series обеспечивает длительный срок службы машины. Колеса на шарикоподшипниках отличаются высокой плавностью хода. Складная рукоятка обеспечивает удобство хранения и транспортировки косилки. Центральная регулировка высоты скашивания варьируется от 25 до 75 мм
						p В разных странах действуют различные правила и нормативы касательно защитной одежды и оборудования. Но дело даже не в соблюдении стандартов и норм. Ради собственной безопасности при работе с цепной пилой не забывайте о следующих средствах защиты.
						p Газонокосилка бензиновая Husqvarna LC140 9676367-01 используется для кошения травы. Имеет вместительный контейнер. Бензиновый двигатель Briggs&Stratton 450 series обеспечивает длительный срок службы машины. Колеса на шарикоподшипниках отличаются высокой плавностью хода. Складная рукоятка обеспечивает удобство хранения и транспортировки косилки. Центральная регулировка высоты скашивания варьируется от 25 до 75 мм
				.col-lg-4
					+e.box
						+oAtrcBoxItem('01 Января, 2020', 'Варианты подарков на Новый Год? Конечно же инструмент и аксессуары от HiKOKI!')
						+oAtrcBoxItem('19 Декабря, 2019', 'New power tools catalogue 2020 – 2021 now available.')
						+oAtrcBoxItem('11 Декабря, 2019', 'New AC brushless web page now available.')
				.col-lg-12
					+sCatalogFromArticle()

	// end sArticle

mixin oAtrcBoxItem(date, txt)
	+e.b-item(href="#")
		+e.b-date=date
		+e.b-txt=txt
		+e.ball
			span Читать дальше
			+icon('chevron-right')