//- pugination
mixin pugin(addClases)
	+b.pagination(class=addClases)
		+e.row.row
			.col-auto
				+e.btn--controll(href="#")
					+icon('chevron-left')
			+puginItem(1, 'current')
			+puginItem(2)
			+puginItem(3)
			+puginItem(4)
			+puginItem('...')
			.col-auto
				+e.btn--controll(href="#")
					+icon('chevron-right')

mixin puginItem(num, addClasses)
	.col-auto
		+e.btn--link(href="#" class=addClasses)=num